<script type="text/javascript">
	google.charts.load("current", {packages:['corechart']});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
	  var data = google.visualization.arrayToDataTable([
	    ['Dates', 'Number Of Loans'],
	    <% @dates.each do |record|%>
	    	["<%= record['date'] %>",<%= record['num'].to_i %>],
	    <% end %>
	  ]);

	  <% if @chart_type == "row_chart"%>
	  	

	      var options = {
	        title: '<%= @bar_heading %>',
	        height: 700,
	        chartArea: {width: '50%'},
	        hAxis: {
	          title: 'Number of loan',
	          minValue: 0
	        },
	        vAxis: {
	          title: ''
	        },
	        width: 800,
	      };

	      var chart = new google.visualization.BarChart(document.getElementById('columnchart_plain'));
	  <% elsif @chart_type == "area_chart"%>
	  	   
	  	   var options = {
	          title: '<%= @bar_heading %>',
	          hAxis: {title: '',  titleTextStyle: {color: '#333'}},
	          vAxis: {minValue: 0},
	          width: 800,
	        };

	        var chart = new google.visualization.AreaChart(document.getElementById('columnchart_plain'));
	        chart.draw(data, options);

	  <% elsif @chart_type == "line_chart"%>

	  	var options = {
          title: '<%= @bar_heading %>',
          curveType: 'function',
          legend: { position: 'bottom' },
          width: 800,
        };

        var chart = new google.visualization.LineChart(document.getElementById('columnchart_plain'));
      <% elsif @chart_type == "pie_chart"%>
	     	var options = {
	          title: '<%= @bar_heading %>',
	          width: 800,
	        };

	        var chart = new google.visualization.PieChart(document.getElementById('columnchart_plain'));

	  <% elsif @chart_type == "donut_chart"%>
	     	 var options = {
	          title: '<%= @bar_heading %>',
	          pieHole: 0.4,
	          width: 800,
	        };

	        var chart = new google.visualization.PieChart(document.getElementById('columnchart_plain'));
	    <% elsif @chart_type == "scatter_chart"%>
      		 var options = {
	          title: '<%= @bar_heading %>',
	          hAxis: {title: ''},
	          vAxis: {title: 'Number of loans'},
	          legend: 'none',
	          width: 800,
	        };

	        var chart = new google.visualization.ScatterChart(document.getElementById('columnchart_plain'));

	  <% else %>

		  var options = {
		    title: "<%= @bar_heading %>",
		    height: 700,
		    chartArea: {width: '90%'},
	        bar: {groupWidth: '100%'},
		    legend: { position: 'none' },
		    width: 800,
		  };
		  
	  	 var chart = new google.visualization.ColumnChart(document.getElementById('columnchart_plain'));
  	 <% end %>
  	 chart.draw(data, options);
  	 $('#columnchart_plain').show();
  	 $('#columnchart_plain > :nth-child(2)').css("width","auto");
	  
	}
</script>

<div id="columnchart_plain" style=" height: 700px;  text-align:center!important;"></div>		

