<script type="text/javascript">
  function report_payment()
  { 
    $("#loading_img").show(); 
    var form = $('#report_payment');
    recurly.token(form, function (err, token) {
            if (err) {
              // alert(JSON.stringify(err.fields));
              errors = err.fields;
            $('.error_field').hide();
            fname = $('#firstName').val();
            lname = $('#lastName').val();
            if(fname=="")
            {
              $('#firstname_error').show();
            }
            if(lname=="")
            {
              $('#lastname_error').show();
            }
            $.each(errors, function( index, value ) 
              { 
                if(value=="number")
                {
                  $('#number_error').show();
                }
                if(value=="cvv")
                {
                  $('#cvv_error').show();
                }
                if(value=="month")
                {
                  $('#month_error').show();
                }
                if(value=="year")
                {
                  $('#year_error').show();
                }
                $("#loading_img").hide();
              });
              return false;
              // handle error using err.code and err.fields
            } else {
              //alert(token.id);
              $('input[name="recurly-token"]').val(token.id);
                data = $('#report_payment').serialize();
                $.ajax({
                    data: data,
                    type: 'POST',
                          url: '/payments/report_payment',
                           success:function(response){
                            $('#report_id').val(response);
                            $('#client_number').val(response)
                            $('#report_form').show();
                            $('#report_payment_div').hide();
                           }
                  });
                $("#loading_img").hide();
            }

          });
    
  }

  function generate_report()
  {
    data = $('.report_form').serialize();
    $("#loading_img").show();
    $('.error_field').hide();
    $.ajax({
                  data: data,
                  type: 'POST',
                  url: '/payments/report_generate',
                  success:function(response){
                   if(response=="done")
                   {
                      $("#loading_img").hide();
                       $('#myModal').foundation('reveal', 'open',{
                          close_on_background_click:false,
                          close_on_esc:false
                         });
                   }
                   else
                   {
                      alert("Something went wrong. Please try again.")
                   }
                   
                   $("#loading_img").hide(); 
                 }
              });
  }

  $('document').ready(function(){
    // $('#myModal').foundation('reveal', 'open');
    $('#myModal').data('revealInit').close_on_background_click = false 
    $('#myModal').data('revealInit').close_on_esc = false 

    $('#success_ok').click(function(){
      window.close();
    });

    

    $('#select_borrower').change(function(){
      val = $(this).val();
      data = "borrower_id="+val;
       $.ajax({
          data: data,
          type: 'POST',
                url: '/loans/borrower_info',
                 success:function(response){
                  $('#borrower_fname').val(response['name']);
                  $('#borrower_home_number').val(response['homenumber']);
                  $('#borrower_work_number').val(response['worknumber']);
                  $('#borrower_email').val(response['email']);
                 }
        });
    });
  });

</script>
<style type="text/css">
  .error_field
  {
    color: red;
    width:100%;
    font-size: 12px;
    display: none;
  }
  input[type="text"], select {
    margin: 0 !important;
  }
  .trans-info-item {
    padding: 11px 0;
    height: 104px;

  }
  #loading_img{
  position:fixed;
  top:0px;
  right:0px;
  width:100%;
  height:100%;
  background-color:#666;
  background-image:url('/assets/ajaxloader.gif');
  background-repeat:no-repeat;
  background-position:center;
  z-index:10000000;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
  }
</style>

<div id='loading_img' style="display:none;"></div>

<div id="myModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="modalhead">
      <h5 id="modalTitle" style="font-weight:bold; color: #00a300;">Your request has been submitted successfully.</h5>
    </div>
    <!-- <div class="row">
      <input type="button" class="button" value="OK" id="success_ok">
    </div> -->
</div>

<div class="row">
  <div class="small-10 small-centered columns" >
  <div class="content-white-box" id="report_payment_div" style="display:block;">
    <div class="cwb-header" tabindex="0">
        <h3 tabindex="0">Payment</h3>
    </div>

    
              
    <div id="new_card">
      <form method="post" id="report_payment">
         <div class="columns medium-6 border-right">
            <div class="trans-info-item">
                <label><strong>First Name:</strong></label>
                <input type="text" data-recurly="first_name" name="firstName" id="firstName" placeholder="First Name" class="required">
                <span class="error_field" id="firstname_error"> 
                    Please enter first name.
                </span>
            </div>  
        </div>
        <div class="columns medium-6">
              <div class="trans-info-item">
                <label><strong>Last Name:</strong></label>
                <input type="text" name="lastName" placeholder="Last Name" class="form- control" data-recurly="last_name" id="lastName">
                <span class="error_field" id="lastname_error"> 
                    Please enter first name.
                </span>
              </div>
        </div>
        <input type="hidden" name="plan" value="<%= params[:plan]%>">
        <div class="columns medium-6 border-right">
            <div class="trans-info-item">
                <label><strong>Card Number:</strong></label>
                <div data-recurly="number" id= "recurly-number"></div>
                <span class="error_field" id="number_error"> 
                    Please enter valid card number.
                </span>
            </div>  
        </div>
        <div class="columns medium-6">
              <div class="trans-info-item">
                <label><strong>CVV:</strong></label>
                <div data-recurly="cvv" id="recurly-cvv"></div>
                <span class="error_field" id="cvv_error"> 
                    Please enter valid cvv.
                </span>
              </div>
        </div>
        <div class="columns medium-6 border-right">
            <div class="trans-info-item">
                <label><strong>Expiry Month:</strong></label>
                <div data-recurly="month" id="recurly-month"></div>
                <span class="error_field" id="month_error"> 
                    Please enter valid expiry month.
                </span>
            </div>  
        </div>
        <div class="columns medium-6">
              <div class="trans-info-item">
                <label><strong>Expiry Year:</strong></label>
                <div data-recurly="year" id="recurly-year"></div>
                <span class="error_field" id="year_error"> 
                    Please enter valid expiry year.
                </span>
              </div>
        </div>
        <input type="hidden" name="amount" value="<%= @amount %>" >
        <input type="hidden" name="collateral_id" value="<%= params[:id] %>">
         <input type="hidden" name="loan_id" value="<%= @collateral.loan_id %>">
        <input type="hidden" name="recurlytoken" data-recurly="token">
        <div class="medium-12 column">
          <input type="button" value="SUBMIT" class="tiny button" onclick="return report_payment();" style="margin-top:10px;">
        </div>

      </form>
    </div>
    </div>

    <div class="content-white-box" id="report_form" style="display:none;">
    <div>
      <div class="cwb-header" tabindex="0">
          <h3 tabindex="0"></h3>
      </div>
      <form method="post" class="report_form">
        <input type="hidden" id="report_id" name="report_id">
        <input type="hidden" name="client_number" value="<%= @client_id %>">
        <input type="hidden" name="project_scope" value="<%= @scope %>">
          
          <div class="columns medium-6 border-right">
            <div class="trans-info-item">
                <label><strong>Project Name:</strong></label>
                <input type="text" name="project_name" id="project_name" placeholder="Project Name" class="required">
                <span class="error_field" id="firstname_error"> 
                    Please enter first name.
                </span>
            </div>  
          </div>

          <div class="columns medium-6">
            <div class="trans-info-item">
                <label><strong>Address:</strong></label>
                <input type="text" name="address" id="address" placeholder="Address" class="required">
                <span class="error_field" id="firstname_error"> 
                    Please enter address.
                </span>
            </div>  
          </div>

          <div class="columns medium-6 border-right">
            <div class="trans-info-item">
                <label><strong>City:</strong></label>
                <input type="text" name="city" id="city" placeholder="City" class="required">
                <span class="error_field" id="firstname_error"> 
                    Please enter city.
                </span>
            </div>  
          </div>

          <div class="columns medium-6">
            <div class="trans-info-item">
                <label><strong>State:</strong></label>
                <input type="text" name="state" id="state" placeholder="State" class="required">
                <span class="error_field" id="firstname_error"> 
                    Please enter state.
                </span>
            </div>  
          </div>

          <div class="columns medium-6 border-right">
            <div class="trans-info-item">
                <label><strong>Postalcode:</strong></label>
                <input type="text" name="zip" id="zip" placeholder="Zip" class="required">
                <span class="error_field" id="firstname_error"> 
                    Please enter zip.
                </span>
            </div>  
          </div>

          <div class="columns medium-6">
            <div class="trans-info-item">
                <label><strong>Property Type:</strong></label>
                <input type="text" name="property_type" id="property_type" placeholder="Property Type" class="required">
                <span class="error_field" id="firstname_error"> 
                    Please enter property type.
                </span>
            </div>  
          </div>

          <div class="columns medium-12">
            <div class="trans-info-item">
                <label><strong>Note:</strong></label>
                <textarea name="note"></textarea>
                <span class="error_field" id="firstname_error"> 
                    Please enter note.
                </span>
            </div>  
          </div>

          <div class="medium-12 column">
            <input type="button" value="SUBMIT" class="tiny button" onclick="return generate_report();" style="margin-top:10px;">
          </div>

      </form>

    </div>

  </div>
  </div>
</div>

  <script type="text/javascript">
            
    $('document').ready(function(){
        $('#submit_appraisal_payment').click('submit', function (event) {
          var form = this;
            event.preventDefault();
            recurly.token(form, function (err, token) {
            if (err) {
              // alert(JSON.stringify(err.fields));
              errors = err.fields;
            $.each(errors, function( index, value ) 
              { 
                if(value=="number")
                {
                  alert("Please enter valid card number.")  
                }
                if(value=="month")
                {
                  alert("Please enter valid expiry month.") 
                }
                if(value=="year")
                {
                  alert("Please enter valid expiry year.")  
                }
              });
              return false;
              // handle error using err.code and err.fields
            } else {
              //alert(token.id);
              $('input[name="recurly-token"]').val(token.id);
                data = ""
            }
        });
      });
    });
  </script>
 <script src="https://js.recurly.com/v4/recurly.js"></script>
 <script>
  // recurly.readyState = 0;
 
   recurly.configure({
      publicKey: 'ewr1-Si1772BTvzpk8Qer5H6Oys',
       fields: {
      number: '#recurly-number',
      month: '#recurly-month',
      year: '#recurly-year',
      cvv: '#recurly-cvv'
    },
      style: {
        
        all: {
          fontFamily: 'inherit',
          fontSize: '1rem',
          fontColor: 'inherit', 
          border:'1px solid',
          visibility: 'visible'
    },
        number: {
          placeholder: 'Card Number'
          
        },
        month: {
          placeholder: 'MM'
        },
        year: {
          placeholder: 'YY  '
        },
        cvv: {
          placeholder: 'CVV'
        }
      }
    });

 </script>
 <script type="text/javascript">
   function check_job_type()
   {
      val = $('#job_type').val();
        var data = "job_type="+val;
        $.ajax({
            data: data,
            type: 'POST',
            url: '/loans/check_fha',
            success:function(response){
               if(response=="1")
               {
                alert("FHA")
               }
            }
        });
   }
      
  </script>
 <style type="text/css">
  #change
  {
    border: 1px solid #d4d4d4;
      padding: 5px;
  }
  .to_left {
     font-size: 17px;
  }
  input[type="text"], input[type="password"], textarea
  {
    background-color: #f1f1f1 !important;
  }
  .outerdiv
  {
    background-color: #ffffff;
  }
 
  .right {
      margin-right: 138px !important;
  }
  .recurly-hosted-field
  {
     background-color: #f1f1f1;
      border: 1px solid #cccccc;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
      box-sizing: border-box;
      color: rgba(0, 0, 0, 0.75);
      display: block;
      font-family: inherit;
      font-size: 0.875rem;
      height: 2.3125rem;
      margin: 0 0 1rem;
      padding: 0.5rem;
      transition: box-shadow 0.45s ease 0s, border-col
  or 0.45s ease-in-out 0s;
      width: 100%;
  }
   .recurly-hosted-field input
   {
      visibility: visible !important;
   }
</style>
