<script type="text/javascript">

</script>



<style type="text/css">
	.expire
  {
    width : 100%;
  }
  .half_text
	{
		width : 40% !important;
		float: left;
    margin-right: 10px;
	}
  .payment-errors
  {
    color: red;
  }
</style>

<div class='row'>
	<div class="small-8 small-centered columns">
     <%= render partial: 'layouts/messages' %>
		<h3 style="text-align:center;"> You currently have a <%= @infoBroker.plan %> plan account. </h3>
<% 
  @hostname = request.host
  @portnum =  request.port
  
%>
<% if @hostname == "localhost" %>
  <form action="https://<%=@hostname%>:<%=@portnum%>/payments/payment_successfull" method="POST" id="payment-form">
<% else %>
  <form action="https://<%= @hostname%>/payments/payment_successfull" method="POST" id="payment-form">
<% end %>
  <span class="payment-errors"></span>
  <div class="form-row">
    <label>
      <span >Select Plan</span>
      <select name="plan">
        <% @all_plans.each do |plan|%>
          <% pln =  plan.amount.to_i/100 %>
         <option value="<%= plan.plan_id %>"><%= plan.name %> - $<%= pln %> </option>
        <% end %>
      </select>
    </label>
  </div>
  <!--
  <div class="form-row" style="margin-top:10px;">
   <label>
    <span>Card Type</span> <br>
   </label>   
      <input type="radio" data-stripe="brand" value="Visa" />  Visa  <br>
      <input type="radio" data-stripe="brand" value="MasterCard" /> MasterCard <br>
      <input type="radio" data-stripe="brand" value="American Express" />  American Express 
    
  </div>
  -->
<input type="hidden" name="email" value="<%= @infoBroker.email %>">
<input type="hidden" name="broker_id" value="<%= @infoBroker.id %>">
<input type="hidden" name="user_id" value="<%= current_user.id %>">
<input type="hidden" name="customer_id" value="<%= current_user.customer_id %>">
<% unless current_user.subscription_id.blank? %>
<input type="hidden" name="subscription_id" value="<%= current_user.subscription_id %>" >
<% else %>
<input type="hidden" name="subscription_id"  >
<% end %>
  <button type="submit" class="tiny button">Submit Payment</button>
</form>


	</div>
</div>
