<script type="text/javascript">
$(document).ready(function() {

     $('.state_div').click(function(){
        var state = $(this).find('.states').html();
        var chck = $(this).hasClass('state_active');
        remove=""
        if(chck==true)
        {
            $(this).removeClass('state_active');
            cloc = $('#lender_location').val();
            loc = cloc.replace(state,"");
            $('#lender_location').val(loc);
            remove = state;
        }        
        else
        {
             $(this).addClass('state_active');
             var str = ""
             $('.state_active').each(function(){
                str += $(this).text() + ",";
             });
             $('#lender_location').val(str);
        }
        var frm = $('.lform').serialize();
        var loc = $('#lender_location').val();
        if(remove=="")
        {
            data = frm+"&location="+loc;    
            postUrl = '/loans/add_more_lender'
        }
        else
        {
            data = frm+"&location="+loc+"&remove="+remove;
            postUrl = '/loans/remove_by_loc'
        }
        

        $.ajax({
                    data: data,
                    type: 'POST',
                    url: postUrl,
                     success:function(data){
                       if(data=="empty")
                       {
                         $('.not_added').show();
                         $('.added').hide();
                       }
                       else
                       {
                         $('#lenders').html(data);
                         $('.remove_lender').click(function(){
                            var lid = $(this).attr('id');
                            var data = "&lender_id="+lid;
                             $.ajax({
                                        data: data,
                                        type: 'POST',
                                        url: '/loans/remove_lender',
                                         success:function(data){
                                            $('#lenders').html(data);
                                            $('.added').hide();
                                            $('.not_added').hide();
                                            $('.remove').show();
                                        }

                                    });
                         });
                         $('ul').sortable({
                            axis: 'y',
                            stop: function (event, ui) {
                                var record = $("#sortable").sortable("toArray");
                                var data = $(this).sortable('serialize')+ "&moredata=" + record;
                                $.ajax({
                                        data: data,
                                        type: 'POST',
                                        url: '/loans/lender_order'
                                        });
                            }
                        });
                         $('.added').show();
                         $('.not_added').hide();
                       }
                    }

                
                });
        //$('.state_div').removeClass('state_active');
        
     });

     


     $("select.flexselect").flexselect({
      allowMismatch: true,
      inputNameTransform:  function(name) 
      { return "email"; 
      
        }
      
    });

    

     // $('#add_lender').click(function(){
     //    $('#select_lender').slideToggle();
     // });

     // $('#save_lender').click(function(){
     //    var lender = $('#flexselect').val();
     //     var data = "&lender_id=" + lender;
     //             $.ajax({
     //                data: data,
     //                type: 'POST',
     //                url: '/loans/add_more_lender',
     //                 success:function(data){
     //                    $('.left_tab').html(data);
     //                    $('#myModal').foundation('reveal', 'close');
     //                }

                
     //              });
     // });

    $('.search_type').change(function(){
        myval = $(this).val();
        if (myval == "custom") 
        {
            $('.custom').show();
            $('.state').show();
            $('.default').hide();
        }
        else
        {
            $('.custom').hide();
            $('.state').hide();
            $('.default').show();
        }
    });

    // $('#addlender').click(function(){
    //     var frm = $('.lform').serialize();
    //     var loc = $('#lender_location').val();
    //     data = frm+"&location="+loc;
    //     if(loc=="")
    //     {
    //         alert("Please select lending state.");
    //         return false;
    //     }
    //     $.ajax({
    //                 data: data,
    //                 type: 'POST',
    //                 url: '/loans/add_more_lender',
    //                  success:function(data){
    //                    if(data=="empty")
    //                    {
    //                      $('.not_added').show();
    //                      $('.added').hide();
    //                    }
    //                    else
    //                    {
    //                      $('#lenders').html(data);
    //                      $('.remove_lender').click(function(){
    //                         var lid = $(this).attr('id');
    //                         var data = "&lender_id="+lid;
    //                          $.ajax({
    //                                     data: data,
    //                                     type: 'POST',
    //                                     url: '/loans/remove_lender',
    //                                      success:function(data){
    //                                         $('#lenders').html(data);
    //                                         $('.added').hide();
    //                                         $('.not_added').hide();
    //                                         $('.remove').show();
    //                                     }

    //                                 });
    //                      });
    //                      $('ul').sortable({
    //                         axis: 'y',
    //                         stop: function (event, ui) {
    //                             var record = $("#sortable").sortable("toArray");
    //                             var data = $(this).sortable('serialize')+ "&moredata=" + record;
    //                             $.ajax({
    //                                     data: data,
    //                                     type: 'POST',
    //                                     url: '/loans/lender_order'
    //                                     });
    //                         }
    //                     });
    //                      $('.added').show();
    //                      $('.not_added').hide();
    //                    }
    //                 }

                
    //             });
    // });

    $('.remove_lender').click(function(){
        var lid = $(this).attr('id');
        var data = "&lender_id="+lid;
         $.ajax({
                    data: data,
                    type: 'POST',
                    url: '/loans/remove_lender',
                     success:function(data){
                        $('#lenders').html(data);
                        $('.remove_lender').click(function(){
                            var lid = $(this).attr('id');
                            var data = "&lender_id="+lid;
                             $.ajax({
                                        data: data,
                                        type: 'POST',
                                        url: '/loans/remove_lender',
                                         success:function(data){
                                            $('#lenders').html(data);
                                            $('.added').hide();
                                            $('.not_added').hide();
                                            $('.remove').show();
                                        }

                                    });
                        });
                        $('ul').sortable({
                            axis: 'y',
                            stop: function (event, ui) {
                                var record = $("#sortable").sortable("toArray");
                                var data = $(this).sortable('serialize')+ "&moredata=" + record;
                                $.ajax({
                                        data: data,
                                        type: 'POST',
                                        url: '/loans/lender_order'
                                        });
                            }
                        });
                        $('.added').hide();
                        $('.not_added').hide();
                        $('.remove').show();
                    }

                
                  });
    });

    $('#save_lenders').click(function(){
        var hrs = $('#hrs').val();
         data = "&hours="+hrs+"&loan_id=<%= @loan.id %>";
         $.ajax({
                    data: data,
                    type: 'POST',
                    url: '/loans/save_shop_lender',
                    success:function(data){
                                            outside(data);
                                        }
            });
    });

     $('#addlender').click(function(){
        var loanId = $('#loanid').val();
        var fdata = $('#add_lender').serialize(); 
        var data = fdata+"&loan_id="+loanId
        $.ajax({
                    data: data,
                    type: 'POST',
                    url: '/loans/add_lenders',
                     success:function(data){
                        $('#lenders').html(data);
                        $('.added').show();
                        $('#flexselect_flexselect').val('');
                        
                    }

                
                  });
    });
 });

function remove_lender(id) 
{
    var lid = id;
            var data = "&lender_id="+lid;
             $.ajax({
                        data: data,
                        type: 'POST',
                        url: '/loans/remove_lender',
                         success:function(data){
                            $('#lenders').html(data);
                            $('ul').sortable({
                            axis: 'y',
                            stop: function (event, ui) {
                                var record = $("#sortable").sortable("toArray");
                                var data = $(this).sortable('serialize')+ "&moredata=" + record;
                                $.ajax({
                                        data: data,
                                        type: 'POST',
                                        url: '/loans/lender_order'
                                        });
                                }
                             });
                            $('.added').hide();
                            $('.not_added').hide();
                            $('.remove').show();
                        }

                    });
}

</script>
<script type="text/javascript">
$(function(){
     $('ul').sortable({
        axis: 'y',
        stop: function (event, ui) {
            var record = $("#sortable").sortable("toArray");
            var data = $(this).sortable('serialize')+ "&moredata=" + record;
            $.ajax({
                    data: data,
                    type: 'POST',
                    url: '/loans/lender_order'
            });
        }
    });
});
</script>
<style>
    li { cursor: pointer; cursor: all-scroll; list-style: none; }
    
    .state_div {
    border: 1px solid #f1f1f1;
    float: left;
    width: 174px;
    }

    .state {
    margin-bottom: 22px !important;
    margin-top: 1px !important;
    }

    .state_div:hover
    {
    background-color: #990000;
    color: #ffffff;
    cursor: pointer;
    }

    .state_active
    {
      background-color: #990000;
      color: #ffffff;
      cursor: pointer;
    }
</style>
<div class="row" style="margin-top:25px">
    <div class="br-header">
        <h3 class='text-center'>Shop Loan Filters</h3>
        <div class="broker_search">
            
        </div>
    </div>
    <div class="row">
    <div class="flash_notice remove" style="display:none;">Lender removed successfuly. </div>
    <div class="flash_notice added" style="display:none;">Lenders updated successfuly. </div>
    <div class="flash_alert not_added" style="display:none;">Lenders not found. </div>
        <div class="small-4 columns">
            <select name="search_type" class="search_type">
                <option value="default">Default Matching</option>
                <option value="custom">Custom Matching</option>
            </select>    
        </div>
    </div>

    <div class="row default">
        <div class="small-4 columns">
            Time Limits in Hours : 24    
        </div>

        <div class="small-4 columns">
            Location : <%= @loan.info['State3']%>    
        </div>
    </div>

     <div class="row custom" style="display:none;" >
     <form method="post" class="lform">
        <div class="small-4 columns">
            Time Limits in Hours : <input type="text" name="hours" id="hrs" value=24 >
            <input type="hidden" id="loanid" value="<%= @loan.id %>" name="loan_id">   
        </div>
     </form>
    </div>

    <div class="row state"  style="display:none;">
     <div class="small-12 columns">
      Select Location:  
      <input type="hidden" name="location" id="lender_location">
     </div>
     <div class="small-12 columns all_states">

         <div class="state_div" ><span class="states stateface stateface-al">Alabama</span></div>
         <div class="state_div" ><span class="states stateface stateface-ak">Alaska</span></div>
         <div class="state_div" ><span class="states stateface stateface-az">Arizona</span></div>
         <div class="state_div" ><span class="states stateface stateface-ar">Arkansas</span></div>
         <div class="state_div" ><span class="states stateface stateface-ca">California</span></div>
         <div class="state_div" ><span class="states stateface stateface-co">Colorado</span></div>
         <div class="state_div" ><span class="states stateface stateface-ct">Connecticut</span></div>
         <div class="state_div" ><span class="states stateface stateface-de">Delaware</span></div>
         <div class="state_div" ><span class="states stateface stateface-dc">District of Columbia</span></div>
         <div class="state_div" ><span class="states stateface stateface-fl">Florida</span></div>
         <div class="state_div" ><span class="states stateface stateface-ga">Georgia</span></div>
         <div class="state_div" ><span class="states stateface stateface-hi">Hawaii</span></div>
         <div class="state_div" ><span class="states stateface stateface-id">Idaho</span></div>
         <div class="state_div" ><span class="states stateface stateface-il">Illinois</span></div>
         <div class="state_div" ><span class="states stateface stateface-in">Indiana</span></div>
         <div class="state_div" ><span class="states stateface stateface-ia">Iowa</span></div>
         <div class="state_div" ><span class="states stateface stateface-ks">Kansas</span></div>
         <div class="state_div" ><span class="states stateface stateface-ky">Kentucky</span></div>
         <div class="state_div" ><span class="states stateface stateface-la">Louisiana</span></div>
         <div class="state_div" ><span class="states stateface stateface-me">Maine</span></div>
         <div class="state_div" ><span class="states stateface stateface-md">Maryland</span></div>
         <div class="state_div" ><span class="states stateface stateface-ma">Massachusetts</span></div>
         <div class="state_div" ><span class="states stateface stateface-mi">Michigan</span></div>
         <div class="state_div" ><span class="states stateface stateface-mn">Minnesota</span></div>
         <div class="state_div" ><span class="states stateface stateface-ms">Mississippi</span></div>
         <div class="state_div" ><span class="states stateface stateface-mo">Missouri</span></div>
         <div class="state_div" ><span class="states stateface stateface-mt">Montana</span></div>
         <div class="state_div" ><span class="states stateface stateface-ne">Nebraska</span></div>
         <div class="state_div" ><span class="states stateface stateface-nv">Nevada</span></div>
         <div class="state_div" ><span class="states stateface stateface-nh">New Hampshire</span></div>
         <div class="state_div" ><span class="states stateface stateface-nj">New Jersey</span></div>
         <div class="state_div" ><span class="states stateface stateface-nm">New Mexico</span></div>
         <div class="state_div" ><span class="states stateface stateface-ny">New York</span></div>
         <div class="state_div" ><span class="states stateface stateface-nc">North Carolina</span></div>
         <div class="state_div" ><span class="states stateface stateface-nd">North Dakota</span></div>
         <div class="state_div" ><span class="states stateface stateface-oh">Ohio</span></div>
         <div class="state_div" ><span class="states stateface stateface-ok">Oklahoma</span></div>
         <div class="state_div" ><span class="states stateface stateface-or">Oregon</span></div>
         <div class="state_div" ><span class="states stateface stateface-pa">Pennsylvania</span></div>
         <div class="state_div" ><span class="states stateface stateface-pr">Puerto Rico</span></div>
         <div class="state_div" ><span class="states stateface stateface-ri">Rhode Island</span></div>
         <div class="state_div" ><span class="states stateface stateface-sc">South Carolina</span></div>
         <div class="state_div" ><span class="states stateface stateface-sd">South Dakota</span></div>
         <div class="state_div" ><span class="states stateface stateface-tn">Tennessee</span></div>
         <div class="state_div" ><span class="states stateface stateface-tx">Texas</span></div>
         <div class="state_div" ><span class="states stateface stateface-ut">Utah</span></div>
         <div class="state_div" ><span class="states stateface stateface-vt">Vermont</span></div>
         <div class="state_div" ><span class="states stateface stateface-va">Virginia</span></div>
         <div class="state_div" ><span class="states stateface stateface-wa">Washington</span></div>
         <div class="state_div" ><span class="states stateface stateface-wv">West Virginia</span></div>
         <div class="state_div" ><span class="states stateface stateface-wi">Wisconsin</span></div>
         <div class="state_div" ><span class="states stateface stateface-wy">Wyoming</span></div>
       </div> 
    </div>

   

    <div class="row custom" style="display:none;">
        <form method="post" id="add_lender">
            <div class="small-10 columns">
                <select id="flexselect"  class="flexselect">
                <option value="">Email</option>
                    <% @lndrs.each do |lndr| %>
                        <option value="<%= lndr.email %>" > <%= lndr.email %> </option>
                    <% end %>
                </select>
            </div>
            <div class="small-2 columns">
                <input type="button" value="Add Lenders" class="button tiny" id="addlender">
            </div>
        </form>
    </div>
    

    <!-- <div class="small-3 columns" >
        <input type="button" class="button tiny" value="Add Lender" id="add_lender">
    </div>
    <div class="small-9 columns" id="select_lender" style="display:none;">
        <div class="small-9 columns">
            <select id="flexselect" name="president" class="flexselect">
                    <option value=""></option>>
                    <% @notmatch.each do |lendr| %>
                        <option value="<%= lendr.id %>" mytag="<%= lendr.name %>">
                             <%= lendr.name %>
                        </option>
                    <% end %>
            </select>
        </div>
        <div class="small-3 columns">
            <input type="button" class="button secondary tiny" value="Save" id="save_lender">
        </div>
    </div> -->
    

</div>

<div class="row">
    <div class="large-3 columns"><b>Name</b></div>
    <div class="large-4 columns"><b>Amount</b></div>
    <div class="large-3 columns"><b>Location</b></div>
    <div class="large-2 columns"><b>Remove</b></div>
</div>


<div class='row' id="lenders" style="border-top: 7px solid rgb(242, 242, 242);">

    <% color_class = ''%>
    <% 
    if !@alllenders.blank? %>
    <ul id="sortable">
       <% @alllenders.each do |llender|%>
       <li id= '<%= llender.id %>'>
            <div class='row <%=color_class%> bottom-space text-left'>

                <div class="large-3 columns">
                    <% if llender.lender.name==nil %>
                        <%= llender.lender.email %>
                    <% else %>
                        <%= llender.lender.name %>
                    <% end %>
                </div>
                <div class="large-4 columns">
                    <%= fd_money(llender.lender.loanMinDropDown) %> 
                     <% if llender.lender.loanMaxDropDown!="No Max" %>
                        - <%= fd_money(llender.lender.loanMaxDropDown) %>
                     <% else %>
                        - <%= llender.lender.loanMaxDropDown %>
                     <% end %>           
                </div>
                <div class="large-3 columns">
                     <% unless llender.lender.city.blank? %>
                            <%= llender.lender.city %>, <%= llender.lender.state %>
                        <% else %>
                            N/A
                        <% end %>
                </div>
                <div class="large-2 columns">
                  <a href="javascript:void(0);" id="<%= llender.id %>" class="remove_lender">    Remove
                  </a>
                </div>
                
            </div>


            <% color_class.blank? ? (color_class='even-row'):(color_class='') %>
        </li>
        <%
        end %>
    </ul>
    <% else %>
              <div class='row <%=color_class%> bottom-space text-left'>

                    <div class="large-12 columns">
                        No lenders matching this loan.           
                    </div>
            
            
                 </div>   
    <%
    end 
    %>

</div>
<div class="row">
<input type="button" value="SAVE" class="button success" id="save_lenders">
</div>