<style>
.br-header{position: relative; float: left; width: 100%; margin-top:10px;}
 form#search_form {position: absolute;right: 0;top: 0;}
 .form_wrap{float: left; width: 100%; position: relative;}
 .form_wrap > input#search_btn {
    height: 34px;
    position: absolute;
    right:1px;
    border: none;
    background-image:url("/assets/search.png"); 
    background-repeat: no-repeat;
    top: 1px;
    width: 36px;
    background-position: center;
    cursor: pointer;
}

.existed
{
    color: red;
}

</style>
<link  href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" media="all" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script type="text/javascript">
$('document').ready(function(){
  $(".js-example-basic-multiple").select2();
});
</script>
<script type="text/javascript">

    jQuery(function($) { $.extend({
    form: function(url, data, method) {
        if (method == null) method = 'POST';
        if (data == null) data = {};

        var form = $('<form>').attr({
            method: method,
            action: url
         }).css({
            display: 'none'
         });

        var addData = function(name, data) {
            if ($.isArray(data)) {
                for (var i = 0; i < data.length; i++) {
                    var value = data[i];
                    addData(name + '[]', value);
                }
            } else if (typeof data === 'object') {
                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        addData(name + '[' + key + ']', data[key]);
                    }
                }
            } else if (data != null) {
                form.append($('<input>').attr({
                  type: 'hidden',
                  name: String(name),
                  value: String(data)
                }));
            }
        };

        for (var key in data) {
            if (data.hasOwnProperty(key)) {
                addData(key, data[key]);
            }
        }

        return form.appendTo('body');
    }
    });

   
 });

$('document').ready(function(){
     $('#search_form').submit(function() {
      return false;
    });

    

      $('.brokers_total').change(function(){
        pg = $(this).val();
         window.location.replace("<%= @base %>/brokers/?per_page="+pg);
       });

      $(".select_all_brokers").change(function () {
        $(".single_broker").prop('checked', $(this).prop("checked"));
      });


      $(".add_broker").click(function(){
        $('#myModal1').foundation('reveal', 'open');
    });

});

function delete_brokers()
{
    var allVals=[];
    $('input[name="select_broker"]:checked').each(function(){
        allVals.push($(this).val());
    });
    if (allVals.length === 0) {
        alert("Please select atleast one broker.");
        return false;
    }
    var data = "&moredata=" + allVals;
    $.ajax({
            data: data,
            type: 'POST',
            url: '/brokers/delete_brokers',
             success:function(data){
                $('#broker_records').html(data);
            }
            
        });

}

function search_fun()
{
    var data=$('#search_form').serialize();
    $.ajax({
            data: data,
            type: 'POST',
            url: '/brokers/search',
            success:function(response){
                $('#broker_records').html(response);
            }
        });
}

</script>

<!---------------------- Add Brokler Popup ---------------------------------->
    
    <div id="myModal1" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <div class="modalhead small-3 small-centered columns">
        <h5 id="modalTitle" style="font-weight:bold;">Add Group </h5>
      </div>
       
      <div class="small-12 small-centered columns">
        <form method="post" action="https://<%= @hostname %>/lenders/add_group" id="brokerForm">
          <div class="row">
          
            <div class="small-12 columns">
              <input type="text" name="group" placeholder="Group Name">
            </div>
            <input type="hidden" name="user_id" value="<%= current_user.id %>">
            
            <div class="small-12 columns">
            <span> Select Lenders </span>
              <select class="js-example-basic-multiple" multiple="multiple" style="width:100%;" name="lenders[]">
                <% @lenders.each do |lender| %>
                  <option value="<%= lender.email %>"><%= lender.email %></option>
                <% end %>
               
              </select>
            </div>
          </div>
         
          <div class="row" style="margin-top:10px;">
               <div class="small-3 small-centered columns">
                  <input type="submit" id="save_broker"  value="Save" class="tiny button">
                </div>
          </div>
        
        </form>
      </div>
        <a class="close-reveal-modal" aria-label="Close"  id="close_popup">&#215;</a>   
     </div>


<!---------------------- Add Group Popup End ------------------------------------>





<div class="row" style="margin-top:25px">
    <div class="br-header">
       <!--  <img src="http://<%= @hostname %>/assets/bin2.png" style="float: left; width: 39px; height: 38px; border: 1px solid; cursor:pointer;" class="bin2" onclick="if(confirm('Are you sure you want to delete these items?')){delete_brokers()}"> -->

        

        

        <h3 class='text-center'>Lender Groups </h3>
        <!-- <div class="broker_search">
            <form name="search_form" id="search_form" style="width:250px;">
                <div class="form_wrap">
                    <input type="text" name="search" placeholder="Search" onkeyup="search_fun();">
                    <input type="button" id="search_btn" onclick="search_fun();">
                </div>
            </form>
        </div> -->
    </div>
</div>
<div class="row">
    
        <!-- <input type="checkbox"  name="select_all_broker" class="select_all_brokers" style="float:left">
        <label> Select All</label> -->
   
        <input type="button" class="tiny button add_broker" value="Add Group">
   
</div>
<div class='row' id="broker_records" style="border-top: 7px solid rgb(242, 242, 242);">

    <%= render partial: 'layouts/messages' %>
    <% color_class = ''%>
    <table width="100%" class="list_loans">
    <thead>
      <tr>
        <th>Group Name</th>
        <th>Created by</th>
        <th>Created Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @groups.each do |group| %>
          <tr class="color_class">
            <td>
                <% unless group.name.blank? %>
                  <%= group.name %>
                <% else %>
                  "N/A"
                <% end %>
            </td>
            <td><%= group.user.name %></td>
            <td>
                <% adate = Date.parse group.created_date
                created_date = adate.strftime("%d %b, %Y") %>
                <%= created_date %>
            </td>
            <td><a href="https://<%= @hostname %>/lenders/view_group/<%= group.id %>"> View </a></td>
          </tr>
        

        <% color_class.blank? ? (color_class='even-row'):(color_class='') %>

    <%
    end %>
    
</div>


 