<div class="content-white-box">
  <div class="cwb-header">
      <h3>Contact Information</h3>
  </div>
  <div class="cwb-content">
    <div class="row">
      <div class="columns medium-12">
        <div class="trans-info-item">
          <strong>First Name :</strong>
            <p><input id="FirstName" name="FirstName" type="text" value="<%= @loan.info['FirstName'] %>" class="loan_info_fields"></p>
            <div class="tii-controls">
                <%= render partial: 'show_hide', locals:{loan: @loan, field_name:"FirstName"} %>
            </div>
        </div>
      </div>

      <div class="columns medium-12">
        <div class="trans-info-item">
          <strong>Email :</strong>
            <p><input id="Email" name="Email" type="text" value="<%= @loan.info['Email'] %>" class="loan_info_fields"></p>
            <div class="tii-controls">
                <%= render partial: 'show_hide', locals:{loan: @loan, field_name:"Email"} %>
            </div>
        </div>
      </div>

      <div class="columns medium-12">
        <div class="trans-info-item">
          <strong>Phone :</strong>
            <p><input id="Phone" name="Phone" type="text" value="<%= @loan.info['Phone'] %>" class="loan_info_fields"></p>
            <div class="tii-controls">
                <%= render partial: 'show_hide', locals:{loan: @loan, field_name:"Phone"} %>
            </div>
        </div>
      </div>
     

     

    </div>
  </div>
</div><!-- content-white-box -->