<div class="row">
					<div  class='medium-12 columns'>
					<span class="hl-l">ADDRESSS : </span><br>
					<%= @borrower.guarantor_address %>

						<span class="edit_pen " style="float:right;">
							<img  style="width:15px;" src="/assets/edit-icon.png" tabindex="0" onclick="edit_guarantor_address('<%= @borrower.id %>')">
						</span>
					
					
						<span id="hide_business_address_clear" style="float:right; margin-top:0px; margin-right:2px;">
							<a title="Hide" tabindex="0" onclick="hide_loan_field();" style="">
							<i class="fa fa-eye" tabindex="0"></i>
							</a>
						</span>
					</div>
				</div>

				<div class="row">
					<div class="medium-4 columns">
						<span class="hl-l">CITY : </span><br>
						<%= @borrower.guarantor_city %>
					</div>
					<div class="medium-4 columns">
						<span class="hl-l">STATE : </span><br>
						<%= @borrower.guarantor_state %>
					</div>
					<div class="medium-4 columns">
						<span class="hl-l">POSTALCODE : </span><br>
						<%= @borrower.guarantor_postalcode %>
					</div>
				</div>