<% 
if defined? @num
	@form_show = ""
	@user_plan = ""
	if(@brokerLogin==true ) 
		if defined?@infoBroker.plan 
			if @infoBroker.plan == "SOLO"
				@user_plan = "SOLO"
				if (@num == 1 || @num>1)	
					@form_show = "no" 
				end
			end
		end
	 end 
end%>
<script type="text/javascript">
  $('document').ready(function(){
  		<% @show_promp = 0 %>
  	   <% if defined? @show_prompt%>
      	 	<% @show_promp = 2 %>
      <% else %>
	      <% unless @loan.doc_url.blank? %>
	        	<% @show_promp = 1 %>
	      <% end %>
      <% end %>
      <% if @show_promp = 1 %>
  		 <% unless @loan.doc_url.blank? %>
	  		$('#gen_url').click(function(){

	          <% docUrl = @loan.doc_url.strip %>
	          url = "<%= docUrl%>";
	          link = "https://<%= @hostname%>/loans/docs/"+url;
	          window.prompt("Copy to clipboard: Ctrl+C, Enter", link);
	        }); 
        <% end %>
      <% elsif @show_promp = 2%>
      	<% unless @loan.doc_url.blank? %>
      	  <% docUrl = @loan.doc_url.strip %>
          url = "<%= docUrl%>";
          link = "https://<%= @hostname%>/loans/docs/"+url;
          window.prompt("Copy to clipboard: Ctrl+C, Enter", link);
        <% end %>
      <% end %>
  });
</script>
<div class="row doc_page" style="display:none;">
	
<% if @loan.doc_url 

	%>

	<table class='small-12' style="margin:0px;">
	
	<tbody>
	<tr><td><b>Upload Documents Link</b></td><td><b>Valid Upto</b></td><td><b>Action</b></td></tr>
	<tr><td>http://<%= @hostname %>/loans/docs/<%= @loan.doc_url %></td>
	<td>
	<% time = @loan.url_time
		if time.month==12
			mnth = 1
			next_month = Time.utc(time.year, mnth, time.day) 
       	else
       		next_month = Time.utc(time.year, time.month+1, time.day) 
       	end
     %>	
     <%= next_month.strftime('%m/%d/%Y') %>
	</td>
	<td>
	<% @url=url_for :controller=>'loan_urls', :action=>'extend_date', :id=>@loan.id %>
	<%= button_tag "Extend Validity",  onclick:"callAjax('#{@url}','show-urls', 'loan-url-form' )", class: 'tiny button success'%>
	</td>
	</tr>
	</tbody>
	</table>

<% end %>
</div>