<script type="text/javascript">
    function sort_order(type, field)
    {
        $('.sort_by').val(field);
        $('.sort_order').val(type);
        paging('1');
    }
    $('document').ready(function(){
        $(".market_access").change(function(){
            mkt_id = $(this).prop('id');
            id = mkt_id.replace('market_access_', '');  


            if ($(this).is(':checked')) {
              data = "broker_id="+id+"&market_access=1";
            }
            else
            {
              data = "broker_id="+id+"&market_access=0"; 
            }

             $.ajax({
                data: data,
                type: 'POST',
                url: '/account_management/market_access',
                 success:function(data){
                
                }
                
            });
        });

        $(".approved_marketplace").click(function(){
            id = $(this).attr('id');
            data = "loan_id="+id;
            $.ajax({
                data: data,
                type: 'POST',
                url: '/loans/approved_marketplace',
                 success:function(data){
                    $('#'+id+'approved').html('<a href="javascript:void(0);" class="button success"> Approved </a>');
                }
            });
        }); 


    });
</script>
<style>
    .fa-sort-desc
    {
        cursor: pointer;
        float: left;
        margin-top: -3px;
    }
    .fa-sort-asc
    {
        cursor: pointer;
        float: left;
        margin-left: 3px;
        margin-top: 3px;
    }
</style>
<% if @flash == "yes" %>
    <div class="flash_notice">Your changes has been saved successfuly.</div>
<% end %>
<div class="row">
	<table width="100%" class="list_loans">
		<thead>
			<tr>
                
                <th>
                    
                   <span>Loan Name</span>
                    
                </th>
				<th>
                    
                   <span >Net Amount</span>
                    
                </th>
				<th>
                    
                    <span>Location</span>
                    
                </th>
                <th>
                    
                    <span> Name </span>
                  
                </th>
                <th>
                   
                   <span> Phone</span>
                    
                </th>
                <th>
                  <span> Email </span>
                </th>
				<th>
                       
                </th>
				
			</tr>
		</thead>
		<tbody>
<% color_class = ''%>
<% unless @loans.blank? %>    
    <% @loans.each do |loan| %> 
    	
           
            <tr>
                <td>
                    <%= loan.name %>
                </td>
            	<td>
                        
                    <% if loan.info['_NetLoanAmountRequested0'].blank? %>
                     N/A
                    <% else %>
                         <% 
                            unless loan.info['_NetLoanAmountRequested0'].blank? 

                              amnt = "#{loan.info['_NetLoanAmountRequested0']}"
                              if amnt.include? "$"
                                loan_amnt = amnt.gsub('$', '')
                              else
                                loan_amnt = amnt
                              end
                              loan_amnt = loan_amnt.gsub(',','')
                           %>
                           <%= fd_money(loan_amnt.to_i) %> 
                        <% end %>
                    <% end %>
                    
                </td>

                <td>
                    <% if loan.info['City3'].blank? && loan.info['State3'].blank? %>
                       N/A
                    <% else %>
                      <%=loan.info['City3']+', '%> <%=loan.info['State3']%>
                    <% end %>
                </td>
                <td>
                   <%= loan.info['FirstName'] %>
                </td>
                 <td>
                    <%= loan.info['Phone'] %>
                </td>
                 <td>
                    <div style="width:180px; word-wrap:break-word;">
                    <%= loan.info['Email'] %>
                    </div>
                </td>
                <td>
                    <div style="width:300px;">
                        <a href="<%= request.base_url %>/loans/market_loan_detail/<%= loan.id %>"class="button" style="float:left;" target="_blank">Preview </a>
                        <div id="<%= loan.id %>approved" style="float:left; margin-left:10px;">
                            <% if loan.status == 1 %>
                                <a href="javascript:void(0);" class="button success approved_marketplace" id="<%= loan.id %>">Approve Requests </a>
                            <% elsif loan.status == 2 %>
                                <a href="javascript:void(0);" class="button success" id="<%= loan.id %>"> Approved </a>
                            <% end %>
                        </div>
                    </div>
                </td>

                
    		</tr>
         
        <% color_class.blank? ? (color_class='even-row'):(color_class='') %>
    <%
    end
end %>
    </tbody>
 </table>
   
     <% # will_paginate @brokers, :params => { :my_excluded_param => nil } %>

<div class="pagination">
    <% if @page.to_i == 1 %>
        <span class="previous_page previous">← Previous</span>
    <% else %>
        <% @lnk = @page.to_i-1 %>
        <a href="javascript:void(0);" rel="<%= @lnk %>"  onclick="return paging(<%= @lnk %>);" class="page_num">← Previous</a>
    <% end %> 
     <% nums = @partitions.to_i
        i=1
    %>
     <% for i in 1..nums %>
        <a href="javascript:void(0);" rel="<%= i %>"  onclick="return paging(<%= i %>);" <% if @page.to_i == i %> class="page_num current_page" <% else %> class="page_num" <% end %>><%= i %></a>
     <% end %>

    <% if @page.to_i == nums.to_i %>
        <span class="previous_page previous"> Next → </span>
    <% else %>
        <% @lnk = @page.to_i+1 %>
        <a href="javascript:void(0);" rel="<%= @lnk %>"  onclick="return paging(<%= @lnk %>);" class="page_num"> Next → </a>
    <% end %> 
</div>