<div class="content-white-box">
  <div class="cwb-header">
      <h3>Summary</h3>
      <div class="cwb-controls">
          <%= render partial: 'show_hide', locals:{loan: @loan, field_name:"_LoanSummaryWhatareyoulookingfor"} %>
      </div>
  </div>
  <div class="cwb-content">
    <% unless @loan.info['_LoanSummaryWhatareyoulookingfor'].blank? %>
      <textarea class="loan_summary"><%= @loan.info['_LoanSummaryWhatareyoulookingfor'] %></textarea>
    <% else %>
      <textarea class="loan_summary"></textarea>
    <% end %>
  </div>
</div><!-- content-white-box -->

<div class="content-white-box">
  <div class="cwb-header">
      <label><h3>Transaction Information</h3></label>
      
  </div>
  <div class="cwb-content">
    <div class="row">
      <div class="columns medium-12">
        <div class="trans-info-item">
          <label><strong>Transaction Type:</strong></label>
          <p>
            <select name="transaction_type" id="transaction_type" class="loan_info_fields">
                <option value=""> Select Transaction Type </option>
                <option value="Purchase" <% if defined? @loan.info['transaction_type']%><% if @loan.info['transaction_type']=="Purchase" %> selected="selected"<% end %><% end %>>Purchase</option>
                <option value="Refinance" <% if defined? @loan.info['transaction_type']%><% if @loan.info['transaction_type']=="Refinance" %> selected="selected"<% end %><% end %>>Refinance</option>
            </select>
          </p>
          <div class="tii-controls">
              <%= render partial: 'show_hide', locals:{loan: @loan, field_name:"transaction_type"}%>
          </div>
        </div>
      </div>
      <div class="columns medium-6 border-right purchase" <% if @loan.info['transaction_type']=="Purchase" %> style="display:block;" <% else %> style="display:none;" <% end %>>
        
        <div class="trans-info-item">
            <label><strong>Contract Closing Date:</strong></label>
            <p><input id="contract_closing_date" name="contract_closing_date" type="text" value="<%= @loan.info['contract_closing_date'] %>" class="loan_info_fields"></p>
            <div class="tii-controls">
                <%= render partial: 'show_hide', locals:{loan: @loan, field_name:"contract_closing_date"}%>
            </div>
        </div>
        
      </div>

      <div class="columns medium-6 purchase" <% if @loan.info['transaction_type']=="Purchase" %> style="display:block;" <% else %> style="display:none;" <% end %>>
        
        <div class="trans-info-item">
            <label><strong>Purchase Price:</strong></label>
            <p><input id="purchase_price" name="purchase_price" rows="1" value="<%= @loan.info['purchase_price'] %>" type="text" class="loan_info_fields"></p>
            <div class="tii-controls">
                <%= render partial: 'show_hide', locals:{loan: @loan, field_name:"purchase_price"} %>
            </div>
        </div>
       
      </div>

      <div class="columns medium-6 border-right purchase" <% if @loan.info['transaction_type']=="Purchase" %> style="display:block;" <% else %> style="display:none;" <% end %>>
        
        <div class="trans-info-item">
            <label><strong>Rehab Amount:</strong></label>
            <p><input id="rehab_amount" name="rehab_amount" rows="1" value="<%= @loan.info['rehab_amount'] %>" type="text" class="loan_info_fields"></p>
            <div class="tii-controls">
                <%= render partial: 'show_hide', locals:{loan: @loan, field_name:"rehab_amount"} %>
            </div>
        </div>
      </div>

      <div class="columns medium-6 purchase" <% if @loan.info['transaction_type']=="Purchase" %> style="display:block;" <% else %> style="display:none;" <% end %>>
        <div class="trans-info-item">
            <label><strong>Cash To Contribute:</strong></label>
            <p><input id="purchase_cash_contribute" name="purchase_cash_contribute" rows="1" value="<%= @loan.info['purchase_cash_contribute'] %>" type="text" class="loan_info_fields"></p>
            <div class="tii-controls">
                <%= render partial: 'show_hide', locals:{loan: @loan, field_name:"purchase_cash_contribute"} %>
            </div>
        </div>
      </div>

      <div class="columns medium-6 border-right refinance" <% if @loan.info['transaction_type']=="Refinance" %> style="display:block;" <% else %> style="display:none;" <% end %>>
        <div class="trans-info-item">
            <strong>Maturity Date:</strong>
            <p><input id="maturity_date" type="text" value="<%= @loan.info['maturity_date'] %>" rows="1" name="maturity_date" class="loan_info_fields"></p>
            <div class="tii-controls">
               <%= render partial: 'show_hide', locals:{loan: @loan, field_name:"maturity_date"} %>
            </div>
        </div>
      </div>
      <div class="columns medium-6 refinance" <% if @loan.info['transaction_type']=="Refianance" %> style="display:block;" <% else %> style="display:none;" <% end %>>
        <div class="trans-info-item">
            <strong>Cash To Contribute:</strong>
            <p><input id="refinance_cash_contribute" name="refinance_cash_contribute" rows="1" value="<%= @loan.info['refinance_cash_contribute'] %>" type="text" class="loan_info_fields"></p>
            <div class="tii-controls">
                <%= render partial: 'show_hide', locals:{loan: @loan, field_name:"refinance_cash_contribute"} %>
            </div>
        </div>
      </div>
      
      <div class="columns medium-6 ask_broker <% if @loan.info['isBroker']=="Yes" %>  border-right <% end %>>">
        <div class="trans-info-item">
          <strong> Submitted By Broker:</strong>
          <p>
            <input type="radio" name="isBroker" value="Yes" class="loan_info_fields"  <% if @loan.info['isBroker'] == "Yes" %> checked="checked" <% end %>><label> Yes </label>
            <input type="radio" class="loan_info_fields" name="isBroker" value="No"  <% if @loan.info['isBroker'] == "No" %> checked="checked" <% end %>><label> No </label>
          </p>
          <div class="tii-controls">
              <%= render partial: 'show_hide', locals:{loan: @loan, field_name:"isBroker"} %>
          </div>
        </div>
      </div>

      <div class="columns medium-6 yes_broker" <% if @loan.info['isBroker']=="Yes" %> style="display:block;" <% else %> style="display:none;" <% end %>>
        <div class="trans-info-item">
          <strong> Who is the broker?:</strong>
          <p>
            <input id="who_broker" type="text" value="<%= @loan.info['who_broker']%>" rows="1" name="who_broker" class="loan_info_fields">
          </p>
          <div class="tii-controls">
              <%= render partial: 'show_hide', locals:{loan: @loan, field_name:"who_broker"} %>
          </div>
        </div>
      </div>

      <div class="columns medium-12">
        <div class="trans-info-item">
          <strong> Free and Clear:</strong>
          <p>
            <input type="radio" name="free_clear" value="Yes" class="loan_info_fields"  <% if @loan.info['free_clear'] == "Yes" %> checked="checked" <% end %>><label> Yes </label>
            <input type="radio" class="loan_info_fields" name="free_clear" value="No"  <% if @loan.info['free_clear'] == "No" %> checked="checked" <% end %>><label> No </label>
          </p>
          <div class="tii-controls">
              <%= render partial: 'show_hide', locals:{loan: @loan, field_name:"free_clear"} %>
          </div>
        </div>
      </div>

      <div class="columns medium-6 border-right free_clear" <% if @loan.info['free_clear']=="Yes" %> style="display:block;" <% else %> style="display:none;" <% end %>>
        <div class="trans-info-item">
          <strong>Original Purchase Price:</strong>
          <p>
            <input id="original_purchase_price" type="text" value="<%= @loan.info['original_purchase_price'] %>" class="loan_info_fields" name="original_purchase_price">
          </p>
          <div class="tii-controls">
              <%= render partial: 'show_hide', locals:{loan: @loan, field_name:"original_purchase_price"} %>
          </div>
        </div>
      </div>

      <div class="columns medium-6 free_clear" <% if @loan.info['free_clear']=="Yes" %> style="display:block;" <% else %> style="display:none;" <% end %>>
        <div class="trans-info-item">
          <strong>Original Purchase Date:</strong>
          <p>
            <input id="original_purchase_date" type="text" value="<%= @loan.info['original_purchase_date'] %>" class="loan_info_fields" name="original_purchase_date" maxlength="20">
          </p>
          <div class="tii-controls">
              <%= render partial: 'show_hide', locals:{loan: @loan, field_name:"original_purchase_date"} %>
          </div>
        </div>
      </div>

      <div class="columns medium-6 border-right free_clear" <% if @loan.info['free_clear']=="Yes" %> style="display:block;" <% else %> style="display:none;" <% end %>>
        <div class="trans-info-last">
          <strong>Vested by:</strong>
          <p>
            <input id="vested_by" type="text" value="<%= @loan.info['vested_by'] %>" rows="1" name="vested_by" maxlength="20" class="loan_info_fields ">
          </p>
          <div class="tii-controls">
              <%= render partial: 'show_hide', locals:{loan: @loan, field_name:"vested_by"} %>
          </div>
        </div>
      </div>

      <div class="columns medium-6 free_clear" <% if @loan.info['free_clear']=="Yes" %> style="display:block;" <% else %> style="display:none;" <% end %>>
        <div class="trans-info-last">
          <strong>Cash contributed:</strong>
          <p>
            <input id="cash_contributed" type="text" value="<%= @loan.info['cash_contributed'] %>" rows="1" name="cash_contributed" maxlength="20" class="loan_info_fields">
          </p>
          <div class="tii-controls">
              <%= render partial: 'show_hide', locals:{loan: @loan, field_name:"cash_contributed"} %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div><!-- content-white-box -->
 <script type="text/javascript">
            $('document').ready(function(){
              $('.add_more_fund').click(function(){
                  var div = $('table[class^=table-use-fund] tr:last');
                  var num = parseInt( div.prop("id").match(/\d+/g), 10 ) +1;
                  clon = div.clone('true').prop('id', num+"_fund" );
                  clon.find('.maturityDates').hide();
                  clon.find('.contractDates').hide();
                  clon.find('input:text').val('');
                  clon.find('input:hidden').val('');
                  clon.find('.payoff_funds').hide();
                  clon.find('.purchase_funds').hide();
                  clon.find('input[name="amount[]"]').addClass('end_fund');
                  $('input').removeClass("end_fund");
                  $('.table-use-fund').append(clon);
                  $('.remove_funds').show();

                //    $('.end_fund').change(function(){
                //     alert("add_end_fund");
                //   $('.funds_field').removeClass("end_fund");
                //   var div = $('table[class^=table-use-fund] tr:last');
                //   var num = parseInt( div.prop("id").match(/\d+/g), 10 ) +1;
                //   clon = div.clone('true').prop('id', num+"_fund" );
                //   clon.find('.maturityDates').hide();
                //   clon.find('.contractDates').hide();
                //   clon.find('input:text').val('');
                //   clon.find('input:hidden').val('');
                //   clon.find('.payoff_funds').hide();
                //   clon.find('.purchase_funds').hide();
                //   clon.find('input[name="amount[]"]').addClass('end_fund');
                 
                //   $('.table-use-fund').append(clon);
                //   $('.remove_funds').show();
                // });

              

                // $('.use').change(function(){
                //     this_val = $(this).val();
                //     mainId = $(this).closest('tr').attr('id');
                    

                //     if(this_val=="Payoff")
                //     {
                //       $('#'+mainId+' .payoff_funds').show();
                //       $('#'+mainId+' .purchase_funds').hide();
                //     }
                //     else if(this_val=="Purchase")
                //     {
                //       $('#'+mainId+' .purchase_funds').show();
                //       $('#'+mainId+' .payoff_funds').hide();
                //     }
                //     else
                //     {
                //       $('#'+mainId+' .purchase_funds').hide();  
                //       $('#'+mainId+' .payoff_funds').hide();
                //     }
                //   }); 
             });
    
               $('.end_fund').change(function(){
                  $('.funds_field').removeClass("end_fund");
                  var div = $('table[class^=table-use-fund] tr:last');
                  var num = parseInt( div.prop("id").match(/\d+/g), 10 ) +1;
                  clon = div.clone('true').prop('id', num+"_fund" );
                  clon.find('.maturityDates').hide();
                  clon.find('.contractDates').hide();
                  clon.find('input:text').val('');
                  clon.find('input:hidden').val('');
                  clon.find('.payoff_funds').hide();
                  clon.find('.purchase_funds').hide();
                  clon.find('input[name="amount[]"]').addClass('end_fund');
                  
                  $('.table-use-fund').append(clon);
                  $('.remove_funds').show();
                });

                $('.use').change(function(){
                    this_val = $(this).val();
                    mainId = $(this).closest('tr').attr('id');
                    

                    if(this_val=="Payoff")
                    {
                      $('#'+mainId+' .payoff_funds').show();
                      $('#'+mainId+' .purchase_funds').hide();
                    }
                    else if(this_val=="Purchase")
                    {
                      $('#'+mainId+' .purchase_funds').show();
                      $('#'+mainId+' .payoff_funds').hide();
                    }
                    else
                    {
                      $('#'+mainId+' .purchase_funds').hide();  
                      $('#'+mainId+' .payoff_funds').hide();
                    }
                  }); 
                  
                  $('.remove_funds').click(function(){
                    rmvId = $(this).closest('.fund_row').attr('id');
                    $('#'+rmvId).remove();
                    save_use_funds();
                    $('.funds_field').last().addClass('end_fund');
                    
                  });
                


            });
            //  function remove_fund_fun(rmvId)
            // {
            //   $('#'+rmvId).remove();
            //   save_use_funds();
            // }


            function save_use_funds()
            {
             
                // alert(form_data);
                 form_data = $('#all_funds_form').serialize();
                data = form_data+"&loan_id=<%= @loan.id%>";
                $.ajax({
                        data: data,
                        type: 'POST',
                        url: '/loans/add_loan_funds',
                        success:function(response){

                        }
                    });
            }
 </script>
<div class="content-white-box show_loan_funds">
  <div class="cwb-header">
      <label><h3>Use of Funds</h3></label>
      <div class="cwb-controls">
           <%= render partial: 'show_hide', locals:{loan: @loan, field_name:"use_of_fund"} %>
      </div>
  </div>
  <div class="cwb-content">
    <form id="all_funds_form" method="post">
      <table border="0" cellpadding="0" cellspacing="0" class="table-use-fund">
        
          <% unless @funds.blank? %>
            <tr>
                <td>&nbsp;</td>
                <td><strong>Description</strong></td>
                <td><strong>Beneficiary</strong></td>
                <td><strong>Amount</strong></td>
            <!--<td><strong>Maturity / Contract Date</strong></td>
                <td><strong>Earned Deposit/Stats</strong></td> !-->
            </tr>
          <% else %>
            <tr>
                <td>&nbsp;</td>
                <td><strong>Description</strong></td>
                <td><strong>Beneficiary</strong></td>
                <td><strong>Amount</strong></td>
            </tr>
          <% end %>
         
          <% unless @funds.blank? %>
            <% @total = @funds.count %>
            <% i=1 %>
            <% @funds.each do |fund| %>

                <tr id="<%= i %>_fund" class="fund_row">
                    <td><a href="javascript:void(0);" style="margin-bottom:12px; float:left;" class="remove_funds" ><b>x</b></a></td>
                    <td>
                        <select class="use funds_field" name="use[]" style="width:125px;">
                          <option value="">Select</option>
                          <option value="Payoff" <% if fund.use=="Payoff" %> selected="selected" <% end %>>Payoff</option>
                          <option value="Improvement" <% if fund.use=="Improvement" %> selected="selected" <% end %>>Improvement</option>
                          <option value="Construction" <% if fund.use=="Construction" %> selected="selected" <% end %>>Construction</option>
                          <option value="Operations" <% if fund.use=="Operations" %> selected="selected" <% end %>>Operations</option>
                          <option value="Purchase" <% if fund.use=="Purchase" %> selected="selected" <% end %>>Purchase</option>
                          <option value="Other" <% if fund.use=="Other" %> selected="selected" <% end %>>Other</option>
                        </select>
                    </td> 
                    <td><input type="text" placeholder="Beneficiary" name="beneficiary[]" value="<%= fund.beneficiary %>" class="funds_field"></td> 
                    

                    <td>
                      <% if i==@total %>
                        <input type="text" placeholder="Amount" name="amount[]" value="<%= fund.amount %>" class="funds_field end_fund">
                      <% else %>
                        <input type="text" placeholder="Amount" name="amount[]" value="<%= fund.amount %>" class="funds_field">
                      <% end %>
                    </td>
                   <!-- <td>

                      <input class="maturityDates payoff_funds" type="text" placeholder="Maturity Date" name="maturityDate[]" value="<%= fund.maturityDate%>" <% if fund.use!="Payoff" %> style="display:none" <% end %>>
                      <input class="contractDates purchase_funds" type="text"  placeholder="Contract Date" value="<%= fund.contractDate %>" name="contractDate[]" <% if fund.use!="Purchase" %> style="display:none" <% end %>>
                    </td>
                    <td>
                      <input type="text" placeholder="Earned Deposit" name="earnedDeposit[]" <% if fund.use!="Purchase" %> style="display:none" <% end %> class="purchase_funds" value="<%= fund.earnedDeposit %>">
                      <input type="text" placeholder="Stats" name="stats[]" value="<%= fund.stats %>" <% if fund.use!="Payoff" %> style="display:none" <% end %> class="payoff_funds">
                    
                    </td> -->
                </tr>
            <% i += 1 %>  
            <% end %>
          <% else %>
            <tr id="1_fund" class="fund_row">
                <td><a href="javascript:void(0);" style="margin-bottom:12px; float:left; display:none;" class="remove_funds" ><b>x</b></a></td>
                <td>
                    <select class="use funds_field" name="use[]" style="width:125px;">
                      <option value="">Select</option>
                      <option value="Payoff">Payoff</option>
                      <option value="Improvement">Improvement</option>
                      <option value="Construction">Construction</option>
                      <option value="Operations">Operations</option>
                      <option value="Purchase">Purchase</option>
                      <option value="Other">Other</option>
                    </select>
                </td>
                <td><input type="text" placeholder="Beneficiary" name="beneficiary[]" class="funds_field"></td>
                <td><input type="text" placeholder="Amount" name="amount[]" class="funds_field end_fund"></td>
                <!--<td><input class="maturityDates payoff_funds" type="text" placeholder="Maturity Date" name="maturityDate[]" style="display:none"><input class="contractDates purchase_funds" type="text"  placeholder="Contract Date" name="contractDate[]" style="display:none"></td>
                <td><input type="text" placeholder="Earned Deposit" name="earnedDeposit[]" style="display:none;" class="purchase_funds"><input type="text" placeholder="Stats" name="stats[]" style="display:none;" class="payoff_funds"></td>-->
            </tr>
          <% end %>
      </table>
    </form>
    <div class="add_more">
          <!-- <input type="button" value="Save" class="tiny button" id="save_use_funds"> -->
        <b>
          <a class="add_more_fund" style="font-size:24px; float:right;" href="  javascript:void(0);">+</a>
        </b>
    </div>
  </div>
</div><!-- content-white-box -->