<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#fd_forms">FD FORMS</a></li>
  <li class="tab-title"><a href="#shopping">SHOPPING</a></li>
  <li class="tab-title"><a href="#misc">MISC</a></li>
</ul>
<div class="tabs-content">
		<div class="content active" id="fd_forms">
			<div id="accordion">
				<% @fd_emails.each do |fdemail|%>
					<h3><%= fdemail.name %></h3>
					<div class="all_content" >
						<div class="show_data" id="content_<%= fdemail.id %>">
							<p style="float:left; width:92%"><b>Subject: </b> <%= fdemail.subject %> </p>
							<input type="button" value="EDIT" class="tiny button edit" id="edit_<%= fdemail.id %>">
							<div style="border:1px solid; padding:5px;">
								<%= raw fdemail.content %>
							</div>

						</div>

						<div id="edit_content_<%= fdemail.id %>" style="display:none;"   class="edit_email_content">
						 <form class="form_<%= fdemail.id %>">
							<label> Subject : </label><input type = "text" name="subject" value="<%= fdemail.subject %>"> <br>
							<% if fdemail.name == "Round Robin" || fdemail.name == "New FD Loan Submission" %>
								<label> To : </label><input type = "text" name="to" value="<%= fdemail.to %>" > <br>
							<% end %>
							<textarea name="content"><%= fdemail.content %></textarea>
							<input type="hidden" value="<%= fdemail.id %>" name="id">
							<b>Note:</b> Please don't change these words <b>"<%= fdemail.fixed_variable %>"</b>.
							<br>
							<div style="margin-top:15px;">
								<input type="button" class="tiny button success save content_save" value="SAVE" id="<%= fdemail.id %>" onclick="save_email('<%= fdemail.id %>')"><input type="button" class="tiny button alert content_cancel" value="CANCEL" onclick="cancel_save('<%= fdemail.id %>')"  style="margin-left:10px;">
							</div>
						</form>

						</div>
					</div>
				<% end %>
			</div>
		</div>
		<div class="content" id="shopping">
			<div id="accordion2">
				<% @shopping_emails.each do |semail|%>
					<h3><%= semail.name %></h3>
					<div class="all_content" >
						<div class="show_data" id="content_<%= semail.id %>">
							<p style="float:left; width:92%"><b>Subject: </b> <%= semail.subject %> </p>
							<input type="button" value="EDIT" class="tiny button edit" id="edit_<%= semail.id %>">
							<div style="border:1px solid; padding:5px;">
								<%= raw semail.content %>
							</div>

						</div>

						<div id="edit_content_<%= semail.id %>" style="display:none;"  class="edit_email_content">
						 <form class="form_<%= semail.id %>">
							<label > Subject : </label><input type = "text" name="subject" value="<%= semail.subject %>"> <br>
							<% if semail.name == "Round Robin" || semail.name == "New FD Loan Submission" %>
								<label> To : </label><input type = "text" name="to" value="<%= semail.to %>" > <br>
							<% end %>
							<textarea name="content"><%= semail.content %></textarea>
							<input type="hidden" value="<%= semail.id %>" name="id">
							<b>Note:</b> Please don't change these words <b>"<%= semail.fixed_variable %>"</b>.
							<br>
							<div style="margin-top:15px;">
								<input type="button" class="tiny button success save content_save" value="SAVE" id="<%= semail.id %>" onclick="save_email('<%= semail.id %>')"><input type="button" class="tiny button alert  content_cancel" value="CANCEL" onclick="cancel_save('<%= semail.id %>')"  style="margin-left:10px;">
							</div>
						</form>

						</div>
					</div>
				<% end %>
			</div>
		</div>
		<div class="content" id="misc">
			<div id="accordion3">
				<% @misc_emails.each do |email|%>
					<h3><%= email.name %></h3>
					<div class="all_content" >
						<div class="show_data" id="content_<%= email.id %>">
							<p style="float:left; width:92%"><b>Subject: </b> <%= email.subject %> </p>
							<input type="button" value="EDIT" class="tiny button edit" id="edit_<%= email.id %>">
							<div style="border:1px solid; padding:5px;">
								<%= raw email.content %>
							</div>

						</div>

						<div id="edit_content_<%= email.id %>" style="display:none;" class="edit_email_content">
						 <form class="form_<%= email.id %>">
							<label > Subject : </label><input type = "text" name="subject" value="<%= email.subject %>"> <br>
							<% if email.name == "Round Robin" || email.name == "New FD Loan Submission" %>
								<label > To : </label><input type = "text" name="to" value="<%= email.to %>"> <br>
							<% end %>
							<textarea name="content" ><%= email.content %></textarea>
							<input type="hidden" value="<%= email.id %>" name="id">
							<b>Note:</b> Please don't change these words <b>"<%= email.fixed_variable %>"</b>.
							<br>
							<div style="margin-top:15px;">
								<input type="button" class="tiny button success save content_save" value="SAVE" id="<%= email.id %>" onclick="save_email('<%= email.id %>')"><input type="button" class="tiny button alert content_cancel" value="CANCEL" onclick="cancel_save('<%= email.id %>')"  style="margin-left:10px;">
							</div>
						</form>

						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>