<div style='max-height:75px;text-align:center'><img style='max-height:75px;width:auto;' src="https://s3-us-west-2.amazonaws.com/idealview/idealview-logo.png"></div>
<div style='text-align:center;border-bottom: 1px double #000000;padding:5px'>
</div>

<%= raw @email.content %> <br>

	<% unless @loans.info['_NetLoanAmountRequested0'].blank? %>
		<b>Loan Amount : </b><%= @loans.info['_NetLoanAmountRequested0'] %><br>
	<% end %>

	<% 
	unless @collaterals.blank?
		 @c=1
		 @collaterals.each do |collateral| %>
		 	<b> Collateral Location: </b><%= collateral.address %>, <%= collateral.city %>, <%= collateral.state %>, <%= collateral.postalcode %><br>
		<% 
		 @c = @c+1
		 end
	end
	
	%>

	<% unless @loans.info['_LoanSummaryWhatareyoulookingfor'].blank? %>
		<b>Loan Summary : </b><%= @loans.info['_LoanSummaryWhatareyoulookingfor'] %><br>
	<% end %>

	<% 
	unless @borrowers.blank?
		@i=1
		@borrowers.each do |borrower|%>
			<% if borrower.borrower_guarantor == "Yes"%>
				<b> Guarantor Name: </b><%= borrower.personal_name %><br>
			<% else %>
				<b> Guarantor Name: </b><%= borrower.guarantor_name %><br>
			<% end %>
		<%
		 @i = @i+1
		end 
	end %>

	

	<% 
	unless @collaterals.blank?
		 @collaterals.each do |collateral| %>
		 	<b> Primary collateral Value : </b><%= collateral.collateral_value %><br>
		<% 
		 end
	end
	
	%>
	<p><a href="http://dash.idealview.us/loans/<%= @loans.id %>">Click here</a> to  Edit this Submission. </p>
	<p><a href="http://dash.idealview.us/loans/detail/<%= @loans.id %>">Click here</a> to  View this Submission. </p>
	<p><a href="http://dash.idealview.us/loans/email_shop_loan/<%= @loans.id %>">Click here</a> to  Shop Loan. </p>



	
	