<style>
	body
	{
		background: #f1f1f1 ;
	}
	
    .select2-container {
    box-sizing: border-box;
    display: inline-block;
    min-height: 56px !important;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 100% !important;
	}
	.select2-container--default .select2-selection--multiple {
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    cursor: text;
    min-height: 40px !important;
    margin-bottom: 10px;
	}

	@media all and (max-width: 999px) and (min-width: 480px){
		.select2-container {
	    box-sizing: border-box;
	    display: inline-block;
	    min-height: 56px !important;
	    margin: 0;
	    position: relative;
	    vertical-align: middle;
	    width: 94% !important;
		}
	}

	@media all and (max-width: 479px){
		.select2-container {
	    box-sizing: border-box;
	    display: inline-block;
	    min-height: 56px !important;
	    margin: 0;
	    position: relative;
	    vertical-align: middle;
	    width: 97% !important;
		}
	}
</style>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 <link  href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" media="all" rel="stylesheet" />
 <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script type="text/javascript">
	$(window).resize(function () {
		<% if @result.blank? %>
			chart_type_amount = "<%= @chart_type_amount %>"
			data = "range=last_30_days&bar_chart=net_amount&chart_type="+chart_type_amount;
			$.ajax({
	            data: data,
	            type: 'POST',
	            url: '/home/net_amount',
	            success:function(response){
	              $('#display_amount').html(response); 
	              $('.custom_form').hide();
	              $("#loading_img").hide();

	            }
	    	});	

			chart_type_loan = "<%= @chart_type_loan %>"
			datas = "range=last_30_days&bar_chart=loan_submissions&chart_type="+chart_type_loan;
			$.ajax({
	            data: datas,
	            type: 'POST',
	            url: '/home/select_range',
	            success:function(response){
	              $('#display_loans').html(response); 
	              $('.custom_form').hide();
	              $("#loading_img").hide();

	            }
	    	});	
    	<% else %>
    		<% if @result.search_type != "custom" %>
    			// chart_type = $('.chart_type').val();
	    		// chart_type = "row_chart"
	    		// chart_type = "area_chart"
	    		// chart_type = "line_chart"
	    		// chart_type = "pie_chart"
	    		// chart_type = "donut_chart"
	    		// chart_type = "scatter_chart"
	    		chart_type_amount = "<%= @result.chart_type_amount %>"
	    		data = "range=<%= @result.search_type %>&bar_chart=net_amount&chart_type="+chart_type_amount;
				$.ajax({
		            data: data,
		            type: 'POST',
		            url: '/home/net_amount',
		            success:function(response){
		              $('#display_amount').html(response); 
		              setTimeout(function() {
					    childDiv =   $('#columnchart_plains > div:eq(0) > div:eq(0)').css("width", "auto");
					 	}, 1000);
		              $('.custom_form').hide();
		              // $("#loading_img").hide();

		            }
		    	});	

				chart_type_loan = "<%= @result.chart_type_loan %>"
				datas = "range=<%= @result.search_type %>&bar_chart=loan_submissions&chart_type="+chart_type_loan;
				$.ajax({
		            data: datas,
		            type: 'POST',
		            url: '/home/select_range',
		            success:function(response){
		              $('#display_loans').html(response); 
		              setTimeout(function() {
							    childDiv =   $('#columnchart_plain > div:eq(0) > div:eq(0)').css("width", "auto");
							 	}, 1000);
		              $('.custom_form').hide();
		              // $("#loading_img").hide();

		            }
		    	});
	    	<% else %>

	    		from_date = "<%= @cfrom_year %>-<%= @cfrom_month %>-<%= @cfrom_day %>"

				to_date = "<%= @cto_year %>-<%= @cto_month %>-<%= @cto_day %>"

				bar_chart = $('.bar_chart').val();

				chart_type_amount = "<%= @chart_type_amount %>"

				var error_show = 0

				states = "<%= @result.states %>"
				lending_types = "<%= @result.lending_types %>"
				transaction_type = "<%= @result.transaction_type %>"
				min_estimated_val = "<%= @result.min_estimated_val %>"
				max_estimated_val = "<%= @result.max_estimated_val %>"
				min_net_amount = "<%= @result.min_amnt %>"
				max_net_amount = "<%= @result.max_amnt %>"

				data = "from_date="+from_date+"&to_date="+to_date+"&bar_chart=net_amount&chart_type="+chart_type_amount+"&states="+states+"&lending_types="+lending_types+"&transaction_type="
			+transaction_type+"&min_estimated_val="+min_estimated_val+"&max_estimated_val="+max_estimated_val+"&min_amnt="+min_net_amount+"&max_amnt="+max_net_amount;

				// $("#loading_img").show();
				$.ajax({
		                data: data,
		                type: 'POST',
		                url: '/home/custom_form',
		                success:function(response){
		                	if(response == "error")
		                	{
		                		error_show = 1
		                		alert("Invalid date. Please check the dates you entered.");
		                		$("#loading_img").hide();
		                	}
		                	else
		                	{

		                	  if($('#display_amount').html(response))

			                  // sds = $('#columnchart_plains').children(':first-child').children(':first-child').html("dddd");
		              		  // alert(JSON.stringify(sds));
			                  // custom_search();

			                 	 // var mainDiv = document.getElementById('columnchart_plains');
			                 	 setTimeout(function() {
							    childDiv =   $('#columnchart_plains > div:eq(0) > div:eq(0)').css("width", "auto");
							 	}, 1000);
			                 	 $("#loading_img").hide();
							    // requiredDiv = childDiv.getElementsByTagName('div')[0];
		                		
		                	}
		                  
		                }
	            	});	

				chart_type_loan = "<%= @chart_type_loan %>"

				states = "<%= @result.states %>"
				lending_types = "<%= @result.lending_types %>"
				transaction_type = "<%= @result.transaction_type %>"
				min_estimated_val = "<%= @result.min_estimated_val %>"
				max_estimated_val = "<%= @result.max_estimated_val %>"
				min_net_amount = "<%= @result.min_amnt %>"
				max_net_amount = "<%= @result.max_amnt %>"

				datal =  "from_date="+from_date+"&to_date="+to_date+"&bar_chart=loan_submissions&chart_type="+chart_type_loan+"&states="+states+"&lending_types="+lending_types+"&transaction_type="
			+transaction_type+"&min_estimated_val="+min_estimated_val+"&max_estimated_val="+max_estimated_val+"&min_amnt="+min_net_amount+"&max_amnt="+max_net_amount;
				
				// $("	#loading_img").show();
				$.ajax({
		                data: datal,
		                type: 'POST',
		                url: '/home/custom_form',
		                success:function(response){
		                	if(response == "error")
		                	{
		                		
		                	}
		                	else
		                	{
		                	  $('#display_loans').html(response); 
			                  
		                	   setTimeout(function() {
							    childDiv =   $('#columnchart_plain > div:eq(0) > div:eq(0)').css("width", "auto");
							 	}, 1000);
		                	   $("#loading_img").hide();
		                	   custom_search();	
		                	}
		                  
		                }
	            	});	


	    	<% end %>
    	<% end %>
	});

	$('document').ready(function(){

		

		<% if @result.blank? %>
			chart_type_amount = "<%= @chart_type_amount %>"
			data = "range=last_30_days&bar_chart=net_amount&chart_type="+chart_type_amount;
			$.ajax({
	            data: data,
	            type: 'POST',
	            url: '/home/net_amount',
	            success:function(response){
	              $('#display_amount').html(response); 
	              $('.custom_form').hide();
	              $("#loading_img").hide();

	            }
	    	});	

			chart_type_loan = "<%= @chart_type_loan %>"
			datas = "range=last_30_days&bar_chart=loan_submissions&chart_type="+chart_type_loan;
			$.ajax({
	            data: datas,
	            type: 'POST',
	            url: '/home/select_range',
	            success:function(response){
	              $('#display_loans').html(response); 
	              $('.custom_form').hide();
	              $("#loading_img").hide();

	            }
	    	});	
    	<% else %>
    		<% if @result.search_type != "custom" %>
    			// chart_type = $('.chart_type').val();
	    		// chart_type = "row_chart"
	    		// chart_type = "area_chart"
	    		// chart_type = "line_chart"
	    		// chart_type = "pie_chart"
	    		// chart_type = "donut_chart"
	    		// chart_type = "scatter_chart"
	    		chart_type_amount = "<%= @result.chart_type_amount %>"
	    		data = "range=<%= @result.search_type %>&bar_chart=net_amount&chart_type="+chart_type_amount;
				$.ajax({
		            data: data,
		            type: 'POST',
		            url: '/home/net_amount',
		            success:function(response){
		              $('#display_amount').html(response); 
		              setTimeout(function() {
					    childDiv =   $('#columnchart_plains > div:eq(0) > div:eq(0)').css("width", "auto");
					 	}, 1000);
		              $('.custom_form').hide();
		              // $("#loading_img").hide();

		            }
		    	});	

				chart_type_loan = "<%= @result.chart_type_loan %>"
				datas = "range=<%= @result.search_type %>&bar_chart=loan_submissions&chart_type="+chart_type_loan;
				$.ajax({
		            data: datas,
		            type: 'POST',
		            url: '/home/select_range',
		            success:function(response){
		              $('#display_loans').html(response); 
		              setTimeout(function() {
							    childDiv =   $('#columnchart_plain > div:eq(0) > div:eq(0)').css("width", "auto");
							 	}, 1000);
		              $('.custom_form').hide();
		              // $("#loading_img").hide();

		            }
		    	});
	    	<% else %>

	    		from_date = "<%= @cfrom_year %>-<%= @cfrom_month %>-<%= @cfrom_day %>"

				to_date = "<%= @cto_year %>-<%= @cto_month %>-<%= @cto_day %>"

				bar_chart = $('.bar_chart').val();

				chart_type_amount = "<%= @chart_type_amount %>"

				var error_show = 0

				states = "<%= @result.states %>"
				lending_types = "<%= @result.lending_types %>"
				transaction_type = "<%= @result.transaction_type %>"
				min_estimated_val = "<%= @result.min_estimated_val %>"
				max_estimated_val = "<%= @result.max_estimated_val %>"
				min_net_amount = "<%= @result.min_amnt %>"
				max_net_amount = "<%= @result.max_amnt %>"

				data = "from_date="+from_date+"&to_date="+to_date+"&bar_chart=net_amount&chart_type="+chart_type_amount+"&states="+states+"&lending_types="+lending_types+"&transaction_type="
			+transaction_type+"&min_estimated_val="+min_estimated_val+"&max_estimated_val="+max_estimated_val+"&min_amnt="+min_net_amount+"&max_amnt="+max_net_amount;

				// $("#loading_img").show();
				$.ajax({
		                data: data,
		                type: 'POST',
		                url: '/home/custom_form',
		                success:function(response){
		                	if(response == "error")
		                	{
		                		error_show = 1
		                		alert("Invalid date. Please check the dates you entered.");
		                		$("#loading_img").hide();
		                	}
		                	else
		                	{

		                	  if($('#display_amount').html(response))

			                  // sds = $('#columnchart_plains').children(':first-child').children(':first-child').html("dddd");
		              		  // alert(JSON.stringify(sds));
			                  // custom_search();

			                 	 // var mainDiv = document.getElementById('columnchart_plains');
			                 	 setTimeout(function() {
							    childDiv =   $('#columnchart_plains > div:eq(0) > div:eq(0)').css("width", "auto");
							 	}, 1000);
			                 	 $("#loading_img").hide();
							    // requiredDiv = childDiv.getElementsByTagName('div')[0];
		                		
		                	}
		                  
		                }
	            	});	

				chart_type_loan = "<%= @chart_type_loan %>"

				states = "<%= @result.states %>"
				lending_types = "<%= @result.lending_types %>"
				transaction_type = "<%= @result.transaction_type %>"
				min_estimated_val = "<%= @result.min_estimated_val %>"
				max_estimated_val = "<%= @result.max_estimated_val %>"
				min_net_amount = "<%= @result.min_amnt %>"
				max_net_amount = "<%= @result.max_amnt %>"

				datal =  "from_date="+from_date+"&to_date="+to_date+"&bar_chart=loan_submissions&chart_type="+chart_type_loan+"&states="+states+"&lending_types="+lending_types+"&transaction_type="
			+transaction_type+"&min_estimated_val="+min_estimated_val+"&max_estimated_val="+max_estimated_val+"&min_amnt="+min_net_amount+"&max_amnt="+max_net_amount;
				
				// $("	#loading_img").show();
				$.ajax({
		                data: datal,
		                type: 'POST',
		                url: '/home/custom_form',
		                success:function(response){
		                	if(response == "error")
		                	{
		                		
		                	}
		                	else
		                	{
		                	  $('#display_loans').html(response); 
			                  
		                	   setTimeout(function() {
							    childDiv =   $('#columnchart_plain > div:eq(0) > div:eq(0)').css("width", "auto");
							 	}, 1000);
		                	   $("#loading_img").hide();
		                	   custom_search();	
		                	}
		                  
		                }
	            	});	


	    	<% end %>
    	<% end %>

		$('.select_range').change(function(){
			range = $(this).val();
			chart_type_amount = $('.chart_type_amount').val();
			if(range == "custom")
			{
				$('.custom_form').show();
			}
			else if(range != "")
			{
				$("#loading_img").show();
				data = "range="+range+"&bar_chart=net_amount&chart_type="+chart_type_amount;
				$.ajax({
	                data: data,
	                type: 'POST',
	                url: '/home/net_amount',
	                success:function(response){
	                  $('#display_amount').html(response); 
	                  $('.custom_form').hide();
	                  
	                   setTimeout(function() {
							    childDiv =   $('#columnchart_plains > div:eq(0) > div:eq(0)').css("width", "auto");
							 	}, 500);
	                   $("#loading_img").hide();

	                }
	        	});	

				chart_type_loan = $('.chart_type_loan').val();
	        	datas = "range="+range+"&bar_chart=select_range&chart_type="+chart_type_loan;
				$.ajax({
	                data: datas,
	                type: 'POST',
	                url: '/home/select_range',
	                success:function(response){
	                  $('#display_loans').html(response); 
	                  $('.custom_form').hide();
	                    setTimeout(function() {
							    childDiv =   $('#columnchart_plain > div:eq(0) > div:eq(0)').css("width", "auto");
							 	}, 1000);
	                   $("#loading_img").hide();

	                }
	        	});	
			}
			else
			{
				$('.custom_form').hide();
				$("#loading_img").hide();
			}
			
		});

		$('.bar_chart').change(function(){
			bar_chart = $(this).val();
			range = $('.select_range').val();
			chart_type_loan = $('.chart_type_loan').val();

			if(bar_chart=="net_amount")
			{
				function_url = '/home/net_amount'
			}
			else
			{
				function_url = '/home/select_range'
			}
			data = "range="+range+"&chart_type="+chart_type_loan;

			if(range == "custom")
			{
				$('.custom_form').show();
			}
			else if(range != "")
			{
				$("#loading_img").show();
				$.ajax({
	                data: data,
	                type: 'POST',
	                url: function_url,
	                success:function(response){
	                  $('#display_loans').html(response); 
	                  $('.custom_form').hide();
	                  $("#loading_img").hide();

	                }
            	});	
			}
			
			else
			{
				$('.custom_form').hide();
				$("#loading_img").hide();
			}
		});

		// $('.chart_type').change(function(){
		// 	chart_type = $(this).val();
		// 	range = $('.select_range').val();
		// 	chart_type = $('.chart_type').val();
		// 	if(range == "custom")
		// 	{
		// 		search_btn = $('.search_button').val();
		// 		if(search_btn == 1) 
 	// 			{
		//  			from_day = $('#from_date').val();
		// 			from_month = $('#from_month').val();
		// 			from_year = $('#from_year').val();
		// 			chart_type = $('.chart_type').val();
		// 			from_date = from_year+"-"+from_month+"-"+from_day

		// 			to_day = $('#to_date').val();
		// 			to_month = $('#to_month').val();
		// 			to_year = $('#to_year').val();
					
		// 			to_date = to_year+"-"+to_month+"-"+to_day

		// 			bar_chart = $('.bar_chart').val();

		// 			var error_show = 0

		// 			data = "from_date="+from_date+"&to_date="+to_date+"&bar_chart=net_amount&chart_type="+chart_type;
		// 			$("#loading_img").show();
		// 			$.ajax({
		// 	                data: data,
		// 	                type: 'POST',
		// 	                url: '/home/custom_form',
		// 	                success:function(response){
		// 	                	if(response == "error")
		// 	                	{
		// 	                		error_show = 1
		// 	                		alert("Invalid date. Please check the dates you entered.");
		// 	                		$("#loading_img").hide();
		// 	                	}
		// 	                	else
		// 	                	{
		// 	                	  $('#display_amount').html(response); 
		// 		                  $("#loading_img").hide();
		// 		                  // custom_search();
		// 	                	}
			                  
		// 	                }
		//             	});	

		// 			datal = "from_date="+from_date+"&to_date="+to_date+"&bar_chart=loan_submissions&chart_type="+chart_type;
		// 			$("#loading_img").show();
		// 			$.ajax({
		// 	                data: datal,
		// 	                type: 'POST',
		// 	                url: '/home/custom_form',
		// 	                success:function(response){
		// 	                	if(response == "error")
		// 	                	{
			                		
		// 	                	}
		// 	                	else
		// 	                	{
		// 	                	  $('#display_loans').html(response); 
		// 		                  $("#loading_img").hide();
		// 	                	  custom_search();
		// 	                	}
			                  
		// 	                }
		//             	});	


				
 	// 				custom_search();	
 	// 			}
 				
		// 	}
		// 	else if(range != "")
		// 	{
		// 		$("#loading_img").show();
		// 		data = "range="+range+"&bar_chart=net_amount&chart_type="+chart_type;
		// 		$.ajax({
	 //                data: data,
	 //                type: 'POST',
	 //                url: '/home/net_amount',
	 //                success:function(response){
	 //                  $('#display_amount').html(response); 
	 //                  $('.custom_form').hide();
	 //                  $("#loading_img").hide();

	 //                }
	 //        	});	

	 //        	datas = "range="+range+"&bar_chart=select_range&chart_type="+chart_type;
		// 		$.ajax({
	 //                data: datas,
	 //                type: 'POST',
	 //                url: '/home/select_range',
	 //                success:function(response){
	 //                  $('#display_loans').html(response); 
	 //                  $('.custom_form').hide();
	 //                  $("#loading_img").hide();

	 //                }
	 //        	});	
		// 	}
		// 	else
		// 	{
		// 		$('.custom_form').hide();
		// 		$("#loading_img").hide();
		// 	}
		// });

		$('.chart_type_amount').change(function(){
			chart_type = $(this).val();
			range = $('.select_range').val();
			
			if(range == "custom")
			{
				search_btn = $('.search_button').val();
				if(search_btn == 1) 
 				{
		 			from_day = $('#from_date').val();
					from_month = $('#from_month').val();
					from_year = $('#from_year').val();
					
					from_date = from_year+"-"+from_month+"-"+from_day

					to_day = $('#to_date').val();
					to_month = $('#to_month').val();
					to_year = $('#to_year').val();
					
					to_date = to_year+"-"+to_month+"-"+to_day

					bar_chart = $('.bar_chart').val();

					var error_show = 0

					data = "from_date="+from_date+"&to_date="+to_date+"&bar_chart=net_amount&chart_type="+chart_type;
					$("#loading_img").show();
					$.ajax({
			                data: data,
			                type: 'POST',
			                url: '/home/custom_form',
			                success:function(response){
			                	if(response == "error")
			                	{
			                		error_show = 1
			                		alert("Invalid date. Please check the dates you entered.");
			                		$("#loading_img").hide();
			                	}
			                	else
			                	{
			                	  $('#display_amount').html(response); 
			                	  setTimeout(function() {
								    childDiv =   $('#columnchart_plains > div:eq(0) > div:eq(0)').css("width", "auto");
								     $("#loading_img").hide();
								 	}, 500);
				                 
				                  // custom_search();
			                	}
			                  
			                }
		            	});	

					


				
 					custom_search();	
 				}
 				
			}
			else if(range != "")
			{
				$("#loading_img").show();
				data = "range="+range+"&bar_chart=net_amount&chart_type="+chart_type;
				$.ajax({
	                data: data,
	                type: 'POST',
	                url: '/home/net_amount',
	                success:function(response){
	                  $('#display_amount').html(response); 
	                  $('.custom_form').hide();
		                 setTimeout(function() {
							 childDiv =   $('#columnchart_plains > div:eq(0) > div:eq(0)').css("width", "auto");
						 	$("#loading_img").hide();
						 }, 500);
	                  

	                }
	        	});	

	        	
			}
			else
			{
				$('.custom_form').hide();
				$("#loading_img").hide();
			}
		});

		$('.chart_type_loan').change(function(){
			chart_type = $(this).val();
			range = $('.select_range').val();
			if(range == "custom")
			{
				search_btn = $('.search_button').val();
				if(search_btn == 1) 
 				{
		 			from_day = $('#from_date').val();
					from_month = $('#from_month').val();
					from_year = $('#from_year').val();
					
					from_date = from_year+"-"+from_month+"-"+from_day

					to_day = $('#to_date').val();
					to_month = $('#to_month').val();
					to_year = $('#to_year').val();
					
					to_date = to_year+"-"+to_month+"-"+to_day

					bar_chart = $('.bar_chart').val();

					var error_show = 0

					datal = "from_date="+from_date+"&to_date="+to_date+"&bar_chart=loan_submissions&chart_type="+chart_type;
					$("#loading_img").show();
					$.ajax({
			                data: datal,
			                type: 'POST',
			                url: '/home/custom_form',
			                success:function(response){
			                	if(response == "error")
			                	{
			                		
			                	}
			                	else
			                	{
			                	  $('#display_loans').html(response); 
			                	  setTimeout(function() {
									 childDiv =   $('#columnchart_plain > div:eq(0) > div:eq(0)').css("width", "auto");
								 	 $("#loading_img").hide();
								 }, 500);
				                  
			                	  custom_search();
			                	}
			                  
			                }
		            	});	


				
 					custom_search();	
 				}
 				
			}
			else if(range != "")
			{
				$("#loading_img").show();
				
				datas = "range="+range+"&bar_chart=select_range&chart_type="+chart_type;
				$.ajax({
	                data: datas,
	                type: 'POST',
	                url: '/home/select_range',
	                success:function(response){
	                  $('#display_loans').html(response);
	                  setTimeout(function() {
						 childDiv =   $('#columnchart_plain > div:eq(0) > div:eq(0)').css("width", "auto");
						 $("#loading_img").hide();
					 }, 500); 
	                  $('.custom_form').hide();
	                }
	        	});	
			}
			else
			{
				$('.custom_form').hide();
				$("#loading_img").hide();
			}
		});


		$('#submit_custom_form').click(function(){
			from_day = $('#from_date').val();
			from_month = $('#from_month').val();
			from_year = $('#from_year').val();
			
			$('.search_button').val("1");
			from_date = from_year+"-"+from_month+"-"+from_day

			to_day = $('#to_date').val();
			to_month = $('#to_month').val();
			to_year = $('#to_year').val();
			
			to_date = to_year+"-"+to_month+"-"+to_day

			bar_chart = $('.bar_chart').val();

			chart_type_amount = $('.chart_type_amount').val();
			states = $('#all_states').val();
			if(states == null)
			{
				states = ""	
			}

			lending_types = $('#LendingTypes').val();
			transaction_type = $('#transaction_type').val();
			min_estimated_val = $('#min_estimated').val();
			max_estimated_val = $('#max_estimated').val();
			min_net_amount = $('#min_amount').val();
			max_net_amount = $('#max_amount').val();


			var error_show = 0

			data = "from_date="+from_date+"&to_date="+to_date+"&bar_chart=net_amount&chart_type="+chart_type_amount+"&states="+states+"&lending_types="+lending_types+"&transaction_type="
			+transaction_type+"&min_estimated_val="+min_estimated_val+"&max_estimated_val="+max_estimated_val+"&min_amnt="+min_net_amount+"&max_amnt="+max_net_amount;
			$("#loading_img").show();
			$.ajax({
	                data: data,
	                type: 'POST',
	                url: '/home/custom_form',
	                success:function(response){
	                	if(response == "error")
	                	{
	                		error_show = 1
	                		alert("Invalid date. Please check the dates you entered.");
	                		$("#loading_img").hide();
	                	}
	                	else
	                	{
	                	  $('#display_amount').html(response); 
	                	   setTimeout(function() {
							 childDiv =   $('#columnchart_plains > div:eq(0) > div:eq(0)').css("width", "auto");
							 $("#loading_img").hide();
						 }, 500); 
		                  
		                  // custom_search();
	                	}
	                  
	                }
            	});	

			chart_type_loan = $('.chart_type_loan').val();
			datal = "from_date="+from_date+"&to_date="+to_date+"&bar_chart=loan_submissions&chart_type="+chart_type_loan+"&states="+states+"&lending_types="+lending_types+"&transaction_type="+transaction_type+"&min_estimated_val="+min_estimated_val+"&max_estimated_val="+max_estimated_val+"&min_amnt="+min_net_amount+"&max_amnt="+max_net_amount;
			$("#loading_img").show();
			$.ajax({
	                data: datal,
	                type: 'POST',
	                url: '/home/custom_form',
	                success:function(response){
	                	if(response == "error")
	                	{
	                		
	                	}
	                	else
	                	{
	                	  $('#display_loans').html(response); 
	                	   setTimeout(function() {
								 childDiv =   $('#columnchart_plains > div:eq(0) > div:eq(0)').css("width", "auto");
								  $("#loading_img").hide();
							 }, 500); 
		                 
	                	  custom_search();
	                	}
	                  
	                }
            	});	


		});
		
		$('.edit_filters').click(function(){
			$('.select_range').show();
			range = $('.select_range').val();
			
			if(range=="custom")
			{
				$('.custom_form').show();	
			}
		});

		$('#user_loan_info').click(function(){
			 datas="id='execute'"
			$.ajax({
		            data: datas,
		            type: 'POST',
		            url: '/home/user_information',
		            success:function(response){
		              $('#user_info_div').html(response); 
		              $('#myModalLoan').foundation('reveal', 'open');
					}
		   });
		});

		// $(".js-example-tokenizer").select2({
		//     tags: 'true',
		//     tokenSeparators: [',', ' '], 
		//  });

		$(".js-example-basic-multiple").select2();
	});

	function custom_search()
	{
		from_day = $('#from_date').val();
		from_month = $('#from_month').val();
		from_year = $('#from_year').val();
		chart_type_loan = $('.chart_type_loan').val();
		from_date = from_year+"-"+from_month+"-"+from_day

		to_day = $('#to_date').val();
		to_month = $('#to_month').val();
		to_year = $('#to_year').val();
		
		to_date = to_year+"-"+to_month+"-"+to_day
		states = $('#all_states').val();
		if(states == null)
		{
			states = ""	
		}

		lending_types = $('#LendingTypes').val();
		transaction_type = $('#transaction_type').val();
		min_estimated_val = $('#min_estimated').val();
		max_estimated_val = $('#max_estimated').val();
		min_net_amount = $('#min_amount').val();
		max_net_amount = $('#max_amount').val();

		data = "from_date="+from_date+"&to_date="+to_date+"&bar_chart=net_amount&chart_type_loan="+chart_type_loan+"&chart_type_amount="+chart_type_amount+"&states="+states+"&lending_types="+lending_types+"&transaction_type="+transaction_type+"&min_estimated_val="+min_estimated_val+"&max_estimated_val="+max_estimated_val+"&min_amnt="+min_net_amount+"&max_amnt="+max_net_amount;
		
		$.ajax({
                data: data,
                type: 'POST',
                url: '/home/custom_search',
                success:function(response){
                	$('.num_of_submission').html(response['num_of_loan']);
                	$('.num_of_amnt').html(response['total_amnt']);
				}
        	});	

	}
</script>
<style type="text/css">
  #loading_img{
  position:fixed;
  top:0px;
  right:0px;
  width:100%;
  height:100%;
  background-color:#666;
  background-image:url('/assets/ajaxloader.gif');
  background-repeat:no-repeat;
  background-position:center;
  z-index:10000000;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

</style>
<div id="loading_img" style="display:none"></div>
<div class="loan_submissions">
	<div class="bar_header">
		<div><h3 style="text-align:center;">Total Submissions & Net Amount</h3> </div>
	</div>
	<div class='row'>
			<input type="hidden" class="search_button" <% unless @result.blank? %> <% if @result.search_type=="custom" %> value="1" <% end %><% end %>>
			<div class="small-6 small-centered columns on_phn_view" >
				<div class="small-12 column select_bar_range">
					
					<!-- <div class="small-6 column">
						<select class="bar_chart">
							<option value=""> Select Bar Chart </option>
							<option value="loan_submissions" selected="selected"> Loan Submissions </option>
							<option value="net_amount"> Net Amount </option>
						</select>
					</div> -->
					<div class="small-7 small-centered columns" style="margin-top:10px;">
						<a class="button round edit_filters" href="#" style="text-align:center;"> Edit Filters </a>
						<input type="button" value="User Info" class="button round dash_user_info" id="user_loan_info">
					</div>
					

					<select class="select_range" style="display:none;">
						<option value=""> Select Range </option>
						<option value="last_30_days" <% unless @result.blank? %><% if @result.search_type == "last_30_days"%> selected = "selected" <% end %> <% end %>> Last 30 Days </option>
						<option value="last_week" <% unless @result.blank? %><% if @result.search_type == "last_week"%> selected = "selected" <% end %> <% end %>> Last Week </option>
						<option value="previous_month_record" <% unless @result.blank? %><% if @result.search_type == "previous_month_record"%> selected = "selected" <% end %> <% end %>> Previous Month </option>
						<option value="last_year" <% unless @result.blank? %><% if @result.search_type == "last_year"%> selected = "selected" <% end %> <% end %>> Last Year </option>
						<option value="custom" <% unless @result.blank? %><% if @result.search_type == "custom"%> selected = "selected" <% end %> <% end %>> Custom </option>
					</select>
					


				</div>
			</div>

	</div>
	
	<div class='row custom_form' style="display:none;">
			<div class="small-12 small-centered columns" >
				<div class="small-12 column">
					<div class="small-6 column  on_phn_view">
						<h6 class="dashboard_custom_from">From:</h6>
						<select class="range_fields" id="from_date">
							<option value="">Date</option>
							<% dates = 01..31 %>
							<% dates.each do |date|%>
								<option value="<%= date %>" <% unless @result.blank? %> <% if @result.search_type == "custom"%> <% if @cfrom_day == "#{date}" %> selected = "selected" <% end %><% end %> <% end %>> <%= date %> </option>
							<% end %>
						</select>

						<select class="range_fields"  id="from_month">
							<option value="">Month</option>
							<% months = 01..12 %>
							<% months.each do |month|%>
								<option value="<%= month %>" <% unless @result.blank? %> <% if @result.search_type == "custom"%> <% if @cfrom_month == "#{month}" %> selected = "selected" <% end %><% end %> <% end %>> <%= month %> </option>
							<% end %>
						</select>

						<select class="range_fields"   id="from_year">
							<option value="">Year </option>
							<% years = @from_year..@current_year %>
							<% years.each do |year|%>
								<option value="<%= year %>" <% unless @result.blank? %> <% if @result.search_type == "custom"%> <% if @cfrom_year == "#{year}" %> selected = "selected" <% end %><% end %> <% end %>> <%= year %> </option>
							<% end %>
						</select>
					</div>

					<div class="small-6 column  on_phn_view">
						<h6 class="dashboard_custom_from">To:</h6>
						<select class="range_fields date_range" id="to_date">
							<option value="">Date</option>
							<% dates = 1..31 %>
							<% dates.each do |date|%>
								<option value="<%= date %>" <% unless @result.blank? %> <% if @result.search_type == "custom"%> <% if @cto_day == "#{date}" %> selected = "selected" <% end %><% end %> <% end %>> <%= date %> </option>
							<% end %>
						</select>

						<select class="range_fields" id="to_month">
							<option value="">Month</option>
							<% months = 1..12 %>
							<% months.each do |month|%>
								<option value="<%= month %>" <% unless @result.blank? %> <% if @result.search_type == "custom"%> <% if @cto_month == "#{month}" %> selected = "selected" <% end %><% end %> <% end %>> <%= month %> </option>
							<% end %>
						</select>

						<select class="range_fields" id="to_year">
							<option value="">Year </option>
							<% years = @from_year..@current_year %>
							<% years.each do |year|%>
								<option value="<%= year %>" <% unless @result.blank? %> <% if @result.search_type == "custom"%> <% if @cto_year == "#{year}" %> selected = "selected" <% end %><% end %> <% end %>> <%= year %> </option>
							<% end %>
						</select>
					</div>
					
				</div>
				
				

				<div class="small-12 column">
					
					
					<div class="small-6 column  on_phn_view">
						<select id="LendingTypes" class="loan_info_fields select_lendingtype" name="_LendingTypes">
							<option value=""> Select Lending Type </option>
							<option value="Single Family Residence"  <% unless @result.blank? %><% if @result.lending_types == "Single Family Residence" %> selected="selected" <% end %><% end %>>Single Family Residence</option>
							<option value="Multifamily" <% unless @result.blank? %><% if @result.lending_types == "Multifamily" %> selected="selected" <% end %><% end %>>Multifamily</option>
							<option value="Condo"<% unless @result.blank? %><% if @result.lending_types == "Condo" %> selected="selected" <% end %><% end %>>Condo</option>
							<option value="Hospitality"<% unless @result.blank? %><% if @result.lending_types == "Hospitality" %> selected="selected" <% end %><% end %>>Hospitality</option>
							<option value="Commercial"<% unless @result.blank? %><% if @result.lending_types == "Commercial" %> selected="selected" <% end %><% end %>>Commercial</option>
							<option value="Development" <% unless @result.blank? %><% if @result.lending_types == "Development" %> selected="selected" <% end %><% end %>>Development</option>
							<option value="Mixed Use" <% unless @result.blank? %><% if @result.lending_types == "Mixed Use" %> selected="selected" <% end %><% end %>>Mixed Use</option>
							<option value="Retail" <% unless @result.blank? %><% if @result.lending_types == "Retail" %> selected="selected" <% end %><% end %>>Retail</option>
							<option value="Health Care" <% unless @result.blank? %><% if @result.lending_types == "Health Care" %> selected="selected" <% end %><% end %>>Health Care</option>
							<option value="Industrial" <% unless @result.blank? %><% if @result.lending_types == "Industrial" %> selected="selected" <% end %><% end %>>Industrial</option>
							<option value="Equipment/Inventory" <% unless @result.blank? %><% if @result.lending_types == "Equipment/Inventory" %> selected="selected" <% end %><% end %>>Equipment/Inventory</option>
							<option value="Working Capital" <% unless @result.blank? %><% if @result.lending_types == "Working Capital" %> selected="selected" <% end %><% end %>>Working Capital</option>
							<option value="Factoring" <% unless @result.blank? %><% if @result.lending_types == "Factoring" %> selected="selected" <% end %><% end %>>Factoring</option>
							<option value="Cash Advances" <% unless @result.blank? %><% if @result.lending_types == "Cash Advances" %> selected="selected" <% end %><% end %>>Cash Advances</option>
							<option value="Accounts Receivable Financing" <% unless @result.blank? %><% if @result.lending_types == "Accounts Receivable Financing" %> selected="selected" <% end %><% end %>>Accounts Receivable Financing</option>
							<option value="Supply Chain Financing" <% unless @result.blank? %><% if @result.lending_types == "Supply Chain Financing" %> selected="selected" <% end %><% end %>>Supply Chain Financing</option>
							<option value="Expansion Capital" <% unless @result.blank? %><% if @result.lending_types == "Expansion Capital" %> selected="selected" <% end %><% end %>> Expansion Capital</option>
							<option value="Equity" <% unless @result.blank? %><% if @result.lending_types == "Equity" %> selected="selected" <% end %><% end %>>Equity</option>
							<option value="SBA Financing" <% unless @result.blank? %><% if @result.lending_types == "SBA Financing" %> selected="selected" <% end %><% end %>>SBA Financing</option>
							<option value="Project Financing" <% unless @result.blank? %><% if @result.lending_types == "Project Financing" %> selected="selected" <% end %><% end %>>Project Financing</option>
							<option value="Acquisition and Development"<% unless @result.blank? %><% if @result.lending_types == "Acquisition and Development" %> selected="selected" <% end %><% end %>>Acquisition and Development</option>
							<option value="Start Up" <% unless @result.blank? %><% if @result.lending_types == "Start Up" %> selected="selected" <% end %><% end %>>Start Up</option>
							<option value="Business Partnership" <% unless @result.blank? %><% if @result.lending_types == "Business Partnership" %> selected="selected" <% end %><% end %>>Business Partnership</option>
							<option value="Owner Occupied" <% unless @result.blank? %><% if @result.lending_types == "Owner Occupied" %> selected="selected" <% end %><% end %>>Owner Occupied</option>
							<option value="Second Home" <% unless @result.blank? %><% if @result.lending_types == "Second Home" %> selected="selected" <% end %><% end %>>Second Home</option>
							<option value="Investment Property" <% unless @result.blank? %><% if @result.lending_types == "Investment Property" %> selected="selected" <% end %><% end %>>Investment Property</option>
							<option value="FHA" <% unless @result.blank? %><% if @result.lending_types == "FHA" %> selected="selected" <% end %><% end %>>FHA</option>
							<option value="VA" <% unless @result.blank? %><% if @result.lending_types == "VA" %> selected="selected" <% end %><% end %>>VA</option>
							<option value="Reverse Mortgage" <% unless @result.blank? %><% if @result.lending_types == "Reverse Mortgage" %> selected="selected" <% end %><% end %>>Reverse Mortgage</option>
							<option value="Sub Prime" <% unless @result.blank? %><% if @result.lending_types == "Sub Prime" %> selected="selected" <% end %><% end %>>Sub Prime</option>
							<option value="HUD Financing" <% unless @result.blank? %><% if @result.lending_types == "HUD Financing" %> selected="selected" <% end %><% end %>>HUD Financing</option>
							<option value="Multifamily" <% unless @result.blank? %><% if @result.lending_types == "Multifamily" %> selected="selected" <% end %><% end %>>Multifamily</option>
							<option value="Hospitality" <% unless @result.blank? %><% if @result.lending_types == "Hospitality" %> selected="selected" <% end %><% end %>>Hospitality</option>
							<option value="Land Development" <% unless @result.blank? %><% if @result.lending_types == "Land Development" %> selected="selected" <% end %><% end %>>Land Development</option>
							<option value="Mixed Use" <% unless @result.blank? %><% if @result.lending_types == "Mixed Use" %> selected="selected" <% end %><% end %>>Mixed Use</option>
							<option value="Retail" <% unless @result.blank? %><% if @result.lending_types == "Retail" %> selected="selected" <% end %><% end %>>Retail</option>
							<option value="Industrial" <% unless @result.blank? %><% if @result.lending_types == "Industrial" %> selected="selected" <% end %><% end %>>Industrial</option>
							<option value="Healthcare" <% unless @result.blank? %><% if @result.lending_types == "Healthcare" %> selected="selected" <% end %><% end %>>Healthcare</option>
							<option value="Other" <% unless @result.blank? %><% if @result.lending_types == "Other" %> selected="selected" <% end %><% end %>>Other</option>
						</select>
					</div>
					<div class="small-6 column  on_phn_view">
						<select id="transaction_type" class="loan_info_fields select_lendingtype" name="transaction_type">
							<option value=""> Select Transaction Type </option>
							<option value="Purchase" <% unless @result.blank? %><% if @result.transaction_type == "Purchase" %> selected="selected" <% end %><% end %>>Purchase</option>
							<option value="Refinance" <% unless @result.blank? %><% if @result.transaction_type == "Refinance" %> selected="selected" <% end %><% end %>>Refinance</option>
						</select>
					</div>
				</div>

				<div class="small-12 column">
					<div class="small-6 column on_phn_view">
						<input type="text" name="min_estimated" placeholder="Min Estimated Value" id="min_estimated" class="dash_input" <% unless @result.blank? %><% unless @result.min_estimated_val.blank? %> value ="<%= @result.min_estimated_val %>" <% end %><% end %>>
						<input type="text" name="max_estimated" placeholder="Max Estimated Value" id="max_estimated" class="dash_input dash_input_margin"  <% unless @result.blank? %><% unless @result.max_estimated_val.blank? %> value ="<%= @result.max_estimated_val %>" <% end %><% end %>>
					</div> 
					<div class="small-6 column on_phn_view">
						<input type="text" name="min_net_amount" placeholder="Min Net Loan Amount" id="min_amount" class="dash_input" <% unless @result.blank? %><% unless @result.min_amnt.blank? %> value ="<%= @result.min_amnt %>" <% end %><% end %>>
						<input type="text" name="max_net_amount" placeholder="Max Net Loan Amount" id="max_amount" class="dash_input dash_input_margin"  <% unless @result.blank? %><% unless @result.max_amnt.blank? %> value ="<%= @result.max_amnt %>" <% end %><% end %>>
					</div>
					
				</div>

				<div class="small-12 column ">
					<div class="small-12 column">
						<h6 class="dashboard_state_form">States :</h6>
						<select id="all_states" autofocus="autofocus"  name="State[]"  class="js-example-basic-multiple" multiple="multiple" >
							<option value="">Select State</option>
							<option value="Alabama" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Alabama" %> selected = "selected" <% end %> <% end %><% end %>>Alabama</option>
							<option value="Alaska" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Alaska" %> selected = "selected" <% end %> <% end %><% end %>>Alaska</option>
							<option value="Arizona" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Arizona" %> selected = "selected" <% end %> <% end %><% end %>>Arizona</option>
							<option value="Arkansas" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Arkansas" %> selected = "selected" <% end %> <% end %><% end %>>Arkansas</option>
							<option value="California" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "California" %> selected = "selected" <% end %> <% end %><% end %>>California</option>
							<option value="Colorado" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Colorado" %> selected = "selected" <% end %> <% end %><% end %>>Colorado</option>
							<option value="Connecticut" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Connecticut" %> selected = "selected" <% end %> <% end %><% end %>>Connecticut</option>
							<option value="Delaware" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Delaware" %> selected = "selected" <% end %> <% end %><% end %>>Delaware</option>
							<option value="District of Columbia" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "District of Columbia" %> selected = "selected" <% end %> <% end %><% end %>>District of Columbia</option>
							<option value="Florida" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Florida" %> selected = "selected" <% end %> <% end %><% end %>>Florida</option>
							<option value="Georgia" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Georgia" %> selected = "selected" <% end %> <% end %><% end %>>Georgia</option>
							<option value="Hawaii" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Hawaii" %> selected = "selected" <% end %> <% end %><% end %>>Hawaii</option>
							<option value="Idaho" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Idaho" %> selected = "selected" <% end %> <% end %><% end %>>Idaho</option>
							<option value="Illinois" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Illinois" %> selected = "selected" <% end %> <% end %><% end %>>Illinois</option>
							<option value="Indiana" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Indiana" %> selected = "selected" <% end %> <% end %><% end %>>Indiana</option>
							<option value="Iowa" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Iowa" %> selected = "selected" <% end %> <% end %><% end %>>Iowa</option>
							<option value="Kansas" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Kansas" %> selected = "selected" <% end %> <% end %><% end %>>Kansas</option>
							<option value="Kentucky" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Kentucky" %> selected = "selected" <% end %> <% end %><% end %>>Kentucky</option>
							<option value="Louisiana" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Louisiana" %> selected = "selected" <% end %> <% end %><% end %>>Louisiana</option>
							<option value="Maine" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Maine" %> selected = "selected" <% end %> <% end %><% end %>>Maine</option>
							<option value="Maryland"<% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Maryland" %> selected = "selected" <% end %> <% end %><% end %>>Maryland</option>
							<option value="Massachusetts" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Massachusetts" %> selected = "selected" <% end %> <% end %><% end %>>Massachusetts</option>
							<option value="Michigan" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Michigan" %> selected = "selected" <% end %> <% end %><% end %>>Michigan</option>
							<option value="Minnesota" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Minnesota" %> selected = "selected" <% end %> <% end %><% end %>>Minnesota</option>
							<option value="Mississippi" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Mississippi" %> selected = "selected" <% end %> <% end %><% end %>>Mississippi</option>
							<option value="Missouri" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Missouri" %> selected = "selected" <% end %> <% end %><% end %>>Missouri</option>
							<option value="Montana" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Montana" %> selected = "selected" <% end %> <% end %><% end %>>Montana</option>
							<option value="Nebraska" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Nebraska" %> selected = "selected" <% end %> <% end %><% end %>>Nebraska</option>
							<option value="Nevada" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Nevada" %> selected = "selected" <% end %> <% end %><% end %>>Nevada</option>
							<option value="New Hampshire" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "New Hampshire" %> selected = "selected" <% end %> <% end %><% end %>>New Hampshire</option>
							<option value="New Jersey" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "New Jersey" %> selected = "selected" <% end %> <% end %><% end %>>New Jersey</option>
							<option value="New Mexico" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "New Mexico" %> selected = "selected" <% end %> <% end %><% end %>>New Mexico</option>
							<option value="New York" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "New York" %> selected = "selected" <% end %> <% end %><% end %>>New York</option>
							<option value="North Carolina" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "North Carolina" %> selected = "selected" <% end %> <% end %><% end %>>North Carolina</option>
							<option value="North Dakota" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "North Dakota" %> selected = "selected" <% end %> <% end %><% end %>>North Dakota</option>
							<option value="Ohio" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Ohio" %> selected = "selected" <% end %> <% end %><% end %>>Ohio</option>
							<option value="Oklahoma" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Oklahoma" %> selected = "selected" <% end %> <% end %><% end %>>Oklahoma</option>
							<option value="Oregon" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Oregon" %> selected = "selected" <% end %> <% end %><% end %>>Oregon</option>
							<option value="Pennsylvania" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Pennsylvania" %> selected = "selected" <% end %> <% end %><% end %>>Pennsylvania</option>
							<option value="Rhode Island" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Rhode Island" %> selected = "selected" <% end %> <% end %><% end %>>Rhode Island</option>
							<option value="South Carolina" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "South Carolina" %> selected = "selected" <% end %> <% end %><% end %>>South Carolina</option>
							<option value="South Dakota" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "South Dakota" %> selected = "selected" <% end %> <% end %><% end %>>South Dakota</option>
							<option value="Tennessee" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Tennessee" %> selected = "selected" <% end %> <% end %><% end %>>Tennessee</option>
							<option value="Texas" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Texas" %> selected = "selected" <% end %> <% end %><% end %>>Texas</option>
							<option value="Utah" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Utah" %> selected = "selected" <% end %> <% end %><% end %>>Utah</option>
							<option value="Vermont" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Vermont" %> selected = "selected" <% end %> <% end %><% end %>>Vermont</option>
							<option value="Virginia" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Virginia" %> selected = "selected" <% end %> <% end %><% end %>>Virginia</option>
							<option value="Washington" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Washington" %> selected = "selected" <% end %> <% end %><% end %>>Washington</option>
							<option value="West Virginia" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "West Virginia" %> selected = "selected" <% end %><% end %> <% end %>>West Virginia</option>
							<option value="Wisconsin" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Wisconsin" %> selected = "selected" <% end %> <% end %><% end %>>Wisconsin</option>
							<option value="Wyoming" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Wyoming" %> selected = "selected" <% end %> <% end %><% end %>>Wyoming</option>
							<option value="Armed Forces Americas" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Armed Forces Americas" %> selected = "selected" <% end %> <% end %><% end %>>Armed Forces Americas</option>
							<option value="Armed Forces Europe" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Armed Forces Europe" %> selected = "selected" <% end %> <% end %><% end %>>Armed Forces Europe</option>
							<option value="Armed Forces Pacific" <% unless @result.blank? %> <% unless @result.states.blank? %> <% if @result.states.include? "Armed Forces Pacific" %> selected = "selected" <% end %> <% end %><% end %>>Armed Forces Pacific</option>
						</select>
					</div>
					
					
				</div>

				

				<div class="small-12 column">
					<div class="small-2 small-centered columns on_phn_view">
						<input type="button" class="button" value="Submit" id="submit_custom_form">
					</div>
				</div>
			
			</div>
	</div>
	<div class="row dashboard_margin">

		<div class="small-1 column">
		</div>
		<div class="small-2 column red_top brder search_info">
			Last 30 Days <br>
			<div class="top_info">
				Loan Submission: <b> <%= @thirty_days_loan %></b> <br>
				Net Amount: <b> <%= @thirty_days_amnt %></b>
			</div>
		</div>
		<div class="small-2 column green_top brder search_info">
			Last Week<br>
			<div class="top_info">
				Loan Submission: <b> <%= @week_loan %></b> <br>
				Net Amount: <b> <%= @week_amnt %></b>
			</div>
		</div>
		<div class="small-2 column blue_top brder search_info">
			Last Month<br>
			<div class="top_info">
				Loan Submission: <b> <%= @previous_month_loan %></b> <br>
				Net Amount: <b> <%= @previous_month_amnt %></b>
			</div>
		</div>
		<div class="small-2 column yellow_top brder search_info">
			Last Year<br>
			<div class="top_info">
				Loan Submission: <b> <%= @loan_last_year %></b> <br>
				Net Amount: <b> <%= @amount_last_year %></b>
			</div>
		</div>
		<div class="small-2 column pink_top brder search_info">
			Custom<br>
			<div class="top_info">
				Loan Submission: <b class="num_of_submission"> - </b> <br>
				Net Amount: <b class="num_of_amnt"> - </b>
			</div>
		</div>	
		<div class="small-1 column">
		</div>
	
	</div>
	<div class="row dashboard_chart_type" >
			<div class="charts_div red_chart_top">	
				<select class="chart_type_amount in_select_bar">
					<option value=""> Select Chart Type </option>
					<option value="column_chart" <% if @chart_type_amount == "column_chart" %> selected = "selected" <% end %>>Column Chart</option>
					<option value="row_chart" <% if @chart_type_amount == "row_chart" %> selected = "selected" <% end %>>Bar Chart</option>
					<option value="area_chart" <% if @chart_type_amount == "area_chart" %> selected = "selected" <% end %>>Area Chart</option>
					<option value="line_chart"  <% if @chart_type_amount == "line_chart" %> selected = "selected" <% end %>>Line Chart</option>
					<option value="pie_chart" <% if @chart_type_amount == "pie_chart" %> selected = "selected" <% end %>>Pie Chart</option>
					<option value="donut_chart"  <% if @chart_type_amount == "donut_chart" %> selected = "selected" <% end %>>Donut Chart</option>
					<option value="scatter_chart" <% if @chart_type_amount == "scatter_chart" %> selected = "selected" <% end %>>Scatter Chart</option>
				</select>

				<div class="small-12 column border_div columnchart_area" id="display_amount">
					<div id="columnchart_plain" class="column_chart_inner_area"></div>		
				</div>
			</div>

			<div class="charts_div green_chart_top">
				<select class="chart_type_loan in_select_bar">
					<option value=""> Select Chart Type </option>
					<option value="column_chart" <% if @chart_type_loan == "column_chart" %> selected = "selected" <% end %>>Column Chart</option>
					<option value="row_chart" <% if @chart_type_loan == "row_chart" %> selected = "selected" <% end %>>Bar Chart</option>
					<option value="area_chart" <% if @chart_type_loan == "area_chart" %> selected = "selected" <% end %>>Area Chart</option>
					<option value="line_chart"  <% if @chart_type_loan == "line_chart" %> selected = "selected" <% end %>>Line Chart</option>
					<option value="pie_chart" <% if @chart_type_loan == "pie_chart" %> selected = "selected" <% end %>>Pie Chart</option>
					<option value="donut_chart"  <% if @chart_type_loan == "donut_chart" %> selected = "selected" <% end %>>Donut Chart</option>
					<option value="scatter_chart" <% if @chart_type_loan == "scatter_chart" %> selected = "selected" <% end %>>Scatter Chart</option>
				</select>
	
				<div class="small-12 column border_div columnchart_area" id="display_loans">
					<div id="columnchart_plains" class="column_chart_inner_area"></div>		
				</div>
			</div>
	</div>
</div>

<div id="myModalLoan" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="modalhead index_pop_heading" id="note_content">
    User Information
  </div>
   <div class="row" id="user_info_div">
	   	<div class="medium-12 column">
	      <div class="medium-6 column">
	        <b> Loan Submitted: </b>
	      </div>
	      <div class="medium-6 column">
	        <%= @user_loans %>
	      </div>
	    </div>

	    <div class="medium-12 column">
	      <div class="medium-6 column">
	        <b> Average Loans/Month: </b>
	      </div>
	      <div class="medium-6 column">
	        <%= @average_this_month  %>
	      </div>
	    </div>

	    <div class="medium-12 column">
	      <div class="medium-6 column">
	        <b>Amount Total: </b>
	      </div>
	      <div class="medium-6 column">
	        <%= fd_money(@u_loan_amount.to_i) %>
	      </div>
	    </div>

	    <div class="medium-12 column">
	      <div class="medium-6 column">
	        <b>Average Amount/Month: </b>
	      </div>
	      <div class="medium-6 column">
	        <%= @average_loan_amount %>
	      </div>
	    </div>

	    <% if !@loan_type_array.blank? %>
		    <div class="medium-12 column">
		    	<div class="medium-4 small-centered columns">
		      		<b> Loan Types </b>
		      	</div>
		    </div>

			<% @loan_type_array.each do |ltype| %>
				<div class="medium-12 column">
			      <div class="medium-6 column">
			        <b><%= ltype['type']%>: </b>
			      </div>
			      <div class="medium-6 column">
			        <%= ltype['total']%>
			      </div>
			    </div>
			<% end %>		    
	    <% end %>

    </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>