<input type="hidden" id="search_custom_input" value="0">
        <%= render partial: 'layouts/messages' %>
<table width="100%" class="list_loans">
      <thead>
        <tr>
            <th></th>
            <th>Company</th>
            <th>Phone</th>
            <th>Location</th>
            <th>Email</th>
        </tr>
      </thead>

    <% color_class = ''%>
    <% @lenders.each do |lender| 
        unless lender['delete']==1 
                #abort("#{lender.inspect}")
            %>
        <!-- <div class='row <%=color_class%> bottom-space text-left'> -->
        <tr>    
            <td>
                <input type="checkbox" id="check_<%= lender.id %>" name="select_broker" value="<%= lender.id %>" style="float:left;margin-top:7px;">
                <div id="click_<%= lender.id %>" style="float:left;">
               <% @url=url_for :controller=>'lenders', :action=>'fetch_detail', :id=>lender.id %>
                    <a href="javascript:void(0);"  onclick="callAjax('<%= @url %>','loan_lenders<%= lender.id %>', 'lender_loans')">[+]</a>
                </div>
                <div id="click_hide_<%= lender.id %>" style="display:none; float:left;" class="click_hide" onclick="order_lenderhide('<%= lender.id %>')">
                    <a href="javascript:void(0);" class="hide_lender_<%= lender.id %>">[-]</a>
                </div>
            </td>
            
            <td>
                
                    <% unless lender.company.blank? %>
                        <%= lender.company %>
                    <% else %>
                         N/A
                    <% end %>

                    <div id="loan_lenders<%= lender.id %>" class="<%=color_class%>" style="display:none; margin-top:10px;">
                    </div>
                 
            </td>

            <td>
                <% unless lender.phone1.blank? %>
                        <%= lender.phone1 %>
                    <% else %>
                         N/A
                    <% end %>
            </td>
            
            <td>
               
                 
                        <% unless lender.city.blank? %>
                            <%= lender.city %>, <%= lender.state %>
                        <% else %>
                            N/A
                        <% end %>
                  

              
            </td>
             

            <td>
                <%= lender.email %>
            </td>
            
        
         

        <% color_class.blank? ? (color_class='even-row'):(color_class='') %>
        </tr>
    <%
    end 
     end %>
</table>