<script type="text/javascript">
    function delete_loans()
    {
        var allVals=[];

        $('input[name="checkLoan"]:checked').each(function(){
            allVals.push($(this).val());
        });
        if (allVals.length === 0) {
            alert("Please select atleast one email.");
            return false;
        }
        var data = "&moredata=" + allVals;
        $.ajax({
                data: data,
                type: 'POST',
                url: '/loans/delete_copy_loans',
                 success:function(data){
                    $('#email_records').html(data);
                    $('.flash_notice').show();
                }
                
            });

    }

    function reject_loans()
    {
         var allVals=[];

        $('input[name="checkLoan"]:checked').each(function(){
            allVals.push($(this).val());
        });
        if (allVals.length === 0) {
            alert("Please select atleast one email.");
            return false;
        }
        var data = "&moredata=" + allVals;
        $.ajax({
                data: data,
                type: 'POST',
                url: '/loans/reject',
                 success:function(data){
                    $('#email_records').html(data);
                    $('.flash_notice').show();
                }
                
            });
    }

</script>

<div class="row" style="margin-top:25px">
    <div class="br-header">
        
        <h3 class='text-center'>Lender Agreements</h3>
        <div class="broker_search">
            
        </div>
    </div>

</div>
<div class="row">
    <a class="button secondary tiny" href="https://<%= @hostname %>/lenders/add_agreement">Add Agreement</a>
</div>
<div class="row">
    <table>
        <thead>
            <tr>
                <th><b>Added By</b></th>
                <th><b>Content</b></th>
                <th><b>Date</b></th>
            </tr>    
        </thead>
        

        <% color_class = ''%>
        <% 
        if !@agreements.blank?
            @agreements.each do |agreement|%>
                <!-- <div class='row <%=color_class%> bottom-space text-left'> -->
                <tr>    
                    <td>
                        <% if !agreement.user.blank? %>
                            <%= agreement.user.email %>
                        <% else %>
                            -
                        <% end %>

                    </td>
                    <td>
                        <%= agreement.content %>           
                    </td>
                   
                    <td>
                      <% adate = Date.parse agreement.added_date
                          agreement_date = adate.strftime("%d %b, %Y") %>
                          <%= agreement_date %>
                    </td>
                </tr>
                <% color_class.blank? ? (color_class='even-row'):(color_class='') %>

            <%
        end
         else %>
                <tr>

                        <td colspan="3">
                            No agreement added yet.           
                        </td>
                </tr>   
        <%
        end 
        %>
    </table>

</div>

 