<div class="flash_notice priority_msg" style="display:none;">Loan has been added to priority. </div>
    <div class="flash_notice remove_priority" style="display:none;">Loan has been removed from priority. </div>
<% if defined? params[:id]%>
<% else %>
	<%= render partial: 'layouts/messages' %>
<% end %>
<% color_class = ''%>
<div class="small-12 columns">
	<table width="100%" class="list_loans">
		<thead>
			<tr>
				<th></th>
				<th>Loan Name</th>
				
			</tr>
		</thead>
		<tbody>
<%
unless @loans.blank?
 @loans.each do |loan_rec|
	loan=loan_rec.info || Loan.new
	#abort("#{loan.inspect}")
	
 %>

<!-- <div class='row <%=color_class%> bottom-space text-left'> -->
	<% if loan_rec.name.blank?
		#abort("#{loan|Loan_id|}")
	    loan_name = 'No Loan Title'
	  else
		loan_name = loan_rec.name
	  end

	%>
	
	<tr class="loans_table" id="loan_table_<%= loan_rec.id %>">
		<td width="60">
			<a href="<%= request.base_url %>/loans/bulk_upload/<%= loan_rec.id %>">
				<i class="fa fa-folder-open fa-2" aria-hidden="true"></i>
			</a>
		</td>
		<td>
			<h5 style="float:left; margin-left:6px;">  
				<a href="<%= request.base_url %>/loans/bulk_upload/<%= loan_rec.id %>"><%= loan_name%></a>
			</h5>
			<br>
			 
		</td>
		
	</tr>

<% end %>
		
<%
else %>
<tr>
	<td colspan="4">
		<% if @empty.blank? %>
				No loans submitted yet.
		<% else %> 
				<%= @empty %>
		<%  end %>
	</td>
</tr>
<% end %>
</tbody>
	</table>
<% if @search.blank? %>
	<div class="pagination">
		<% if @page.to_i == 1 %>
	     	<span class="previous_page previous">← Previous</span>
	    <% else %>
	    	<% @lnk = @page.to_i-1 %>
	    	<a href="javascript:void(0);" rel="<%= @lnk %>"  onclick="return paging(<%= @lnk %>);" class="page_num">← Previous</a>
	    <% end %> 
	     <% nums = @partitions.to_i
	     	i=1
		%>
	     <% for i in 1..nums %>
	     	<a href="javascript:void(0);" rel="<%= i %>"  onclick="return paging(<%= i %>);" <% if @page.to_i == i %> class="page_num current_page" <% else %> class="page_num" <% end %>><%= i %></a>
	     <% end %>

	    <% if @page.to_i == nums.to_i %>
	     	<span class="previous_page previous"> Next → </span>
	    <% else %>
	    	<% @lnk = @page.to_i+1 %>
	    	<a href="javascript:void(0);" rel="<%= @lnk %>"  onclick="return paging(<%= @lnk %>);" class="page_num"> Next → </a>
	    <% end %> 
    </div>
 <% end%>
</div>