<style>
.br-header{position: relative; float: left; width: 100%; margin-top:10px;}
 form#search_form {position: absolute;right: 0;top: 0;}
 .form_wrap{float: left; width: 100%; position: relative;}
 .form_wrap > input#search_btn {
    height: 34px;
    position: absolute;
    right:1px;
    border: none;
    background-image:url("assets/search.png"); 
    background-repeat: no-repeat;
    top: 1px;
    width: 36px;
    background-position: center;
    cursor: pointer;
}
.large-3 {
    width: 23%;
}
.large-2 {
    width: 25.667%;
}
</style>
<script type="text/javascript">

    jQuery(function($) { $.extend({
    form: function(url, data, method) {
        if (method == null) method = 'POST';
        if (data == null) data = {};

        var form = $('<form>').attr({
            method: method,
            action: url
         }).css({
            display: 'none'
         });

        var addData = function(name, data) {
            if ($.isArray(data)) {
                for (var i = 0; i < data.length; i++) {
                    var value = data[i];
                    addData(name + '[]', value);
                }
            } else if (typeof data === 'object') {
                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        addData(name + '[' + key + ']', data[key]);
                    }
                }
            } else if (data != null) {
                form.append($('<input>').attr({
                  type: 'hidden',
                  name: String(name),
                  value: String(data)
                }));
            }
        };

        for (var key in data) {
            if (data.hasOwnProperty(key)) {
                addData(key, data[key]);
            }
        }

        return form.appendTo('body');
    }
    });

   
 });

$('document').ready(function(){
     $('#search_form').submit(function() {
      return false;
    });
})

function delete_brokers()
{
    var allVals=[];
    $('input[name="select_broker"]:checked').each(function(){
        allVals.push($(this).val());
    });
    if (allVals.length === 0) {
        alert("Please select atleast one broker.");
        return false;
    }
    var data = "&moredata=" + allVals;
    $.ajax({
            data: data,
            type: 'POST',
            url: '/brokers/delete_subbroker',
             success:function(data){
               window.location.href = '<%= request.base_url%>/brokers/sub_brokers'; 
            }
            
        });

}


</script>


<div class="row" style="margin-top:25px">
    <div class="large-4 columns">
      &nbsp;
    </div>
    <div class="large-4 columns">
        <h3 >Manage Users</h3> 
    </div>
    <div class="large-4 columns">
      <% if @canadd == "yes"%>
        <a href="<%= request.base_url %>/brokers/add_user" class="tiny button" style="float:right;"> Add User </a>
      <% else%>
        <% maxusr = current_user.max_users.to_i - 1 %>
        <a href="javascript:void(0);" class="tiny button" style="float:right;" onclick="alert('You can not add more then <%= maxusr %> users.')"> Add User </a>
      <% end %>
    </div>
</div>
<div class='row' id="broker_records" style="border-top: 7px solid rgb(242, 242, 242);">
    <% color_class = ''%>
    <% 

    unless @brokers.blank?
    %>
    <table style="width:100%">
    <tr>
      <td> <img src="http://<%= @hostname %>/assets/bin2.png" style="float: left; width: 39px; height: 38px; border: 1px solid; cursor:pointer;" class="bin2" onclick="if(confirm('Are you sure you want to delete these items?')){delete_brokers()}"> </td>
      <td>Name</td>
      <td>Email</td>
      <td>Phone</td>
      <td></td>
    </tr>
      <% 
      @brokers.each do |broker| 
           unless broker['delete']==1 %>
          <tr>
              
              <td>
                <input type="checkbox" value="<%= broker.id %>" name="select_broker">
              </td>
              
              <td>
                  <a href="http://<%= @hostname %>/brokers/show/<%= broker.id %>">
                      <% unless broker.name.blank? %>
                          <%= broker.name %>
                      <% else %>
                           "N/A"
                      <% end %>
                   </a>
              </td>

              <td>
                  <%= broker.email %>
              </td>
              
              <td>
                  <a href="tel:<%= broker.phone1 %>"><%= broker.phone1 %></a>
              </td>

               <td>
                 
                      

                   <%  unless @infoBroker.parent_broker.blank? %>
                      <% unless @infoBroker.permissions.blank? 
                         allow = @infoBroker.permissions.split(",")
                         if allow.include? "change_passwords"
                     %>
                        <a href="http://<%= @hostname %>/brokers/edit_user/<%= broker.id %>" class="tiny button success" >
                            Edit
                        </a>
                    <%
                     end %>
                    <% end %>
                   <% else %>
                     <a href="http://<%= @hostname %>/brokers/edit_user/<%= broker.id %>" class="tiny button success" >
                            Edit
                        </a>

                    <% end %>
                  
                 <!--  <a href="http://<%= @hostname %>/brokers/loans/<%= broker.id %>" class="tiny button" >
                      View Loans
                   </a> -->
                 
               </td>
          </tr>

         
              

          <% color_class.blank? ? (color_class='even-row'):(color_class='') %>

      <%
      end %>
   
<% end %>
   </table>
<% end
%>

</div>

 